<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-3">
            <a class="widget style1 lazur-bg btn-widget" ui-sref="settings/emails/reports">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-table fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> REPORTS </span>
                        <h2 class="font-bold"></h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="widget style1 lazur-bg btn-widget" ui-sref="settings/emails/templates">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-bars fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> TEMPLATES </span>
                        <h2 class="font-bold"></h2>
                    </div>
                </div>
            </a>
        </div>    
            
         
    </div>
</div>
