md-card {
    md-card-content {
        &.no-padding-top,
        &no-padding-top {
            padding-top: 0 !important;
        }

        img.sponsor-logo {
            max-height: 50px;
            max-width: 100%;
            width: auto;
            margin: auto;
            display: block;
        }
    }
}

md-tabs.md-white {
    md-tabs-wrapper {
        background: #FFF;
    }
}

md-input-container {
    &.md-input-has-messages {
        min-height: 60px;
        [ng-messages] {
            &.ng-active {
            }

            &.ng-inactive {
                display: none;
            }
        }
    }
}

md-datepicker {
    &.md-datepicker-inline {
        min-height: 60px;
        display: inline-block;
        position: relative;
        padding: 2px;
        margin: 18px 0;
        margin-top: 12px;
        button {
            text-align: right;
        }
    }
}
.md-muted {
    opacity: 0.8;
    font-size: 0.8rem;
    line-height: normal;
}

.no-padding {
    padding: 0;
}
.md-transparent {
    background: transparent!important;
}
