<md-tabs md-dynamic-height md-border-bottom class="md-white">
    <md-tab label="Region Detail">
        <md-content class="md-transparent md-padding">
            <div layout="column" layout-gt-md="row" class="no-padding">
                <div flex>
                    <md-card>
                        <md-card-header>
                            <md-card-avatar>
                                <md-icon class="md-avatar-icon mdi mdi-24px" md-font-icon="mdi-map"></md-icon>
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">Region Detail</span>
                                <span class="md-subhead">Region Detail</span>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content>
                            <md-content class="md-padding">
                                <div class="md-inline-form">
                                    <form method="post" name="regionForm" ng-submit="vm.save()">
                                        <div layout="column">
                                            <div flex layout="column">
                                                <!--Region Name-->
                                                <md-input-container flex>
                                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-calendar-text"></md-icon>
                                                    <label>Region Name</label>
                                                    <input type="text" name="name" ng-model="vm.regionArea.name" required />
                                                    <div ng-messages="regionForm.name.$error">
                                                        <div ng-message="required">Region name is required.</div>
                                                        <div ng-message="duplicate">Region name already exists.</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <md-card-actions layout="row" layout-align="end center">
                                            <md-button class="md-raised md-primary" type="submit">
                                                <span class="md-padding">
                                                    Save region
                                                </span>
                                            </md-button>
                                        </md-card-actions>
                                    </form>
                                </div>
                                <div hide show-gt-md>
                                    <md-subheader>Map</md-subheader>
                                    <div style="min-height:312px">
                                        <div google-chart chart="vm.regionChartObject" style="height:312px">
                                            <md-progress-circular md-mode="indeterminate" ng-if="!vm.regionChartObject.data" style="margin: auto; margin-top: 50px; vertical-align: middle;"></md-progress-circular>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-card-content>
                    </md-card>
                </div>
                <div ng-if="vm.regionArea.id" flex ng-include="'app/settings/regions/detail/county/county-list.partial.html'"></div>
            </div>
        </md-content>
    </md-tab>
</md-tabs>