<md-tabs md-dynamic-height md-border-bottom class="md-white">
    <md-tab label="Role Settings">
        <div layout-padding-gt-sm class="no-padding" ng-include="'app/settings/roles/detail/partials/role-details.partial.html'"></div>
    </md-tab>
    <md-tab label="Role Modules" ng-disabled="!vm.role.id">
        <div layout-padding-gt-sm class="no-padding" ng-include="'app/settings/roles/detail/partials/role-modules.partial.html'"></div>
    </md-tab>
    <md-tab label="Role Users" ng-disabled="!vm.role.id">
        <div layout-padding-gt-sm class="no-padding" ng-include="'app/settings/roles/detail/partials/role-users.partial.html'"></div>
    </md-tab>
</md-tabs>
