<md-tabs md-dynamic-height md-border-bottom class="md-white">
    <md-tab label="Categories">
        <md-content class="md-transparent md-padding">
            <div layout="column" class="no-padding">
                <div>
                    <md-card>
                        <md-toolbar class="md-table-toolbar md-menu-toolbar" ng-hide="vm.selectedCategories.length">
                            <div class="md-toolbar-tools">
                                <span>Categories</span>
                                <div flex></div>
                                <md-button hide show-gt-sm ng-click="vm.addEdit({id: 0}, $event)" class="md-raised">
                                    <span style="padding: 0 10px;">
                                        Add Category
                                        <md-icon class="mdi mdi-24px mdi-plus"></md-icon>
                                        <md-tooltip md-direction="left">Add Category</md-tooltip>
                                    </span>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selectedCategories.length">
                            <div class="md-toolbar-tools">
                                <span>{{vm.selectedCategories.length}} {{vm.selectedCategories.length > 1 ? 'items' : 'item'}} selected</span>
                                <div flex></div>
                                <md-button ng-click="vm.bulkDeleteCategories($event)" class="md-raised">
                                    <span style="padding: 0 10px;">
                                        Delete Selected
                                        <md-icon class="mdi mdi-24px mdi-delete"></md-icon>
                                        <md-tooltip md-direction="left">Delete Selected Categories</md-tooltip>
                                    </span>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-card-content class="no-adding-top">
                            <md-data-table-container>
                                <table md-table md-row-select="true" ng-model="vm.selectedCategories">
                                    <thead md-head md-order="vm.query.order">
                                        <tr md-row>
                                            <th md-column md-order-by="name"><span>Name</span></th>
                                            <th md-column hide show-gt-md md-order-by="tag_line"><span>Tagline</span></th>
                                            <th md-column style="width: 40px;"><span>Color</span></th>
                                            <th md-column style="width: 40px; text-align:right;"><span>Action</span></th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row md-select="item" ng-repeat="item in vm.categories | filter: vm.filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit"  ng-click="vm.mobileClick(item, $event)">
                                             <td md-cell>
                                                {{item.name}}
                                            </td>
                                            <td md-cell hide show-gt-md>
                                                {{item.tag_line | limitTo: 70}}
                                                {{item.tag_line > 70 ? '...' : ''}}
                                            </td>
                                            <td md-cell>
                                                <md-icon class="mdi mdi-24px" md-font-icon="mdi-checkbox-blank-circle" style="color : {{item.color}}"></md-icon>
                                            </td>
                                            <td md-cell style="text-align:right">
                                                <md-menu md-position-mode="target-right target">
                                                    <md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-dots-vertical"></md-icon>
                                                    </md-button>
                                                    <md-menu-content width="4">
                                                        <md-menu-item>
                                                            <md-button ui-sref="settings.categories.detail({id:item.id})">
                                                                Edit
                                                            </md-button>
                                                        </md-menu-item>
                                                        <md-menu-item>
                                                            <md-button ui-sref="settings.categories.questions({id: item.id})">
                                                                Questions List
                                                            </md-button>
                                                        </md-menu-item>
                                                    </md-menu-content>
                                                </md-menu>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-data-table-container>
                            <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.categories.length}}"></md-table-pagination>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </md-content>
    </md-tab>
</md-tabs>