<div layout layout-align="center center">
    <div flex="initial" style="width: 900px">
        <div layout-gt-sm="row" layout-sm="column" layout-padding>
            <div flex-gt-sm="50" flex-sm="100">
                <h1 class="login-logo"><img src="/images/logo.png" alt="VALA 2.0" title="VALA 2.0" /></h1>
                <div class="login-faces">
                    <div><img class="md-user-avatar" src="/images/faces/1.jpg" /></div>
                    <div><img class="md-user-avatar" src="/images/faces/2.jpg" /></div>
                    <div><img class="md-user-avatar" src="/images/faces/3.jpg" /></div>
                    <div><img class="md-user-avatar" src="/images/faces/4.jpg" /></div>
                    <div hide show-gt-sm><img class="md-user-avatar" src="/images/faces/5.jpg" /></div>
                    <div hide show-gt-sm><img class="md-user-avatar" src="/images/faces/6.jpg" /></div>
                    <div hide show-gt-sm><img class="md-user-avatar" src="/images/faces/7.jpg" /></div>
                    <div hide show-gt-sm><img class="md-user-avatar" src="/images/faces/8.jpg" /></div>
                    <div hide show-gt-sm><img class="md-user-avatar" src="/images/faces/8.jpg" /></div>
                    <div hide show-gt-sm><img class="md-user-avatar" src="/images/faces/1.jpg" /></div>
                    <div hide show-gt-sm><img class="md-user-avatar" src="/images/faces/5.jpg" /></div>
                    <div hide show-gt-sm><img class="md-user-avatar" src="/images/faces/3.jpg" /></div>
                </div>
            </div>
            <div flex-gt-sm="50" flex-sm="100">
                <md-card>
                    <md-card-content>
                        <form name="loginForm" ng-submit="vm.login()">
                            <md-content layout-padding class="autoScroll">
                                <md-input-container class="md-icon-float md-block">
                                    <label>Email</label>
                                    <input ng-model="vm.user.email" type="email" name="email" required placeholder="Eter your email">
                                    <div ng-messages="loginForm.email.$error">
                                        <div ng-message="required">
                                            You forgot to enter your email address...
                                        </div>
                                        <div ng-message="email">
                                            You did not enter your email address correctly...
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block">
                                    <label>Password</label>
                                    <input ng-model="vm.user.password" type="password" required placeholder="Enter your Password">
                                </md-input-container>
                                <div layout="row">
                                    <md-button type="submit" flex class="md-raised md-primary">Login</md-button>
                                    <md-button flex class="md-primary" ng-href="/forgotpassword">Forgot password?</md-button>
                                </div>
                                <div layout="column" layout-padding layout-wrap layout-align="center center">
                                    <div flex="100">
                                        <strong>Login With:</strong>
                                    </div>
                                    <div flex="100">
                                        <a ng-click="vm.authenticate('facebook')"><img src="/images/social/facebook.png" /></a>
                                        <a ng-click="vm.authenticate('twitter')"><img src="/images/social/twitter.png" /></a>
                                        <a ng-click="vm.authenticate('linkedin')"><img src="/images/social/linkedin.png" /></a>
                                        <a ng-click="vm.authenticate('google')"><img src="/images/social/google.png" /></a>
                                    </div>
                                </div>
                                <div layout="column" layout-padding layout-wrap layout-align="center center">
                                    <div flex="100">
                                        <small>Do not have an account?</small>
                                    </div>
                                    <div flex="100">
                                        <md-button class="md-raised" ng-href="/register">Create an account</md-button>
                                    </div>
                                </div>
                            </md-content>
                        </form>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row" class="md-body-1 md-subhead md-muted" layout-padding layout-align="center center">
            <div>
                Copyright Venus Award
            </div>
            <div>
                <small>&copy; 2015</small>
            </div>
        </div>
    </div>
</div>

