<md-tabs md-dynamic-height md-border-bottom style="background: #FFF" md-selected="vm.tabIndex" >
    <md-tab label="{{tab.name}}" ng-repeat="tab in vm.tabs" ui-sref="{{tab.state}}" ui-sref-active="md-active">
    </md-tab>
</md-tabs>
<div layout-padding layout="column" class="no-padding">
    <div ui-view></div>    
</div>