<div layout="column" layout-gt-sm="row">
    <div flex-gt-sm="60" flex-gt-md="70">
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon mdi mdi-24px" md-font-icon="mdi-key-variant"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Account Security</span>
                    <span class="md-subhead">Password</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="md-inline-form">
                    <md-content>
                        <form method="post" name="orgForm">
                            <div layout-gt-sm="row" layout="column">
                                <!--New Password-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-account-key"></md-icon>
                                    <label>New Password</label>
                                    <input ng-model="vm.user.password" name="password" required type="password">
                                    <div ng-messages="orgForm.password.$error">
                                        <div ng-message="required">Password Name is required.</div>
                                    </div>
                                </md-input-container>
                                <!--Confirm Password-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-key"></md-icon>
                                    <label>Confirm Password</label>
                                    <input ng-model="vm.user.cpassword" name="cpassword" required type="password">
                                    <div ng-messages="orgForm.cpassword.$error">
                                        <div ng-message="required">Confirm Password is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-raised md-primary">
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-content-save"></md-icon>
                                    <span>Change Password</span>
                                </md-button>
                            </md-card-actions>
                        </form>
                    </md-content>
                </div>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon mdi mdi-24px" md-font-icon="mdi-folder-account"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Account Roles</span>
                    <span class="md-subhead">Role</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="md-inline-form">
                    <md-content>
                        <form method="post" name="orgForm">
                            <div layout-gt-sm="row" layout="column">
                                <!--New Password-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-folder-account"></md-icon>
                                    <label>Role</label>
                                    <md-select ng-model="vm.user.role.id" name="role">
                                        <md-option ng-repeat="role in vm.roles" value="{{role.id}}">
                                            {{role.name}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="orgForm.role.$error">
                                        <div ng-message="required">Role Name is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-raised md-primary">
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-content-save"></md-icon>
                                    <span>Update Account Role</span>
                                </md-button>
                            </md-card-actions>
                        </form>
                    </md-content>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div flex-gt-sm="40" flex-gt-md="30" flex="100">
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon mdi mdi-24px" md-font-icon="mdi-checkbox-multiple-marked-outline"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Account Status</span>
                    <span class="md-subhead">Subscriptions and Activations</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="md-inline-form">
                    <md-content>
                        <form method="post" name="orgForm">
                            <div layout="column">
                                <!--Birth Date-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-calendar"></md-icon>
                                    <label>Registered Date</label>
                                    <input ng-model="vm.user.date_registered" disabled name="date_registered" type="date">
                                </md-input-container>
                                <span flex="10"></span>
                                <div layout="row">
                                    <md-icon flex="none" style="width:40px" class="mdi mdi-24px" md-font-icon="mdi-account-check"></md-icon>
                                    <md-switch flex class="md-primary" ng-model="vm.user.status" ng-true-value="'active'" ng-false-value="'inactive'">
                                        Active
                                    </md-switch>
                                </div>
                                <div layout="row">
                                    <md-icon flex="none" style="width:40px" class="mdi mdi-24px" md-font-icon="mdi-marker-check"></md-icon>
                                    <md-switch flex class="md-primary" ng-model="vm.user.verified" ng-true-value="'yes'" ng-false-value="'no'">
                                        Verified
                                    </md-switch>
                                </div>
                                <div layout="row">
                                    <md-icon flex="none" style="width:40px" class="mdi mdi-24px" md-font-icon="mdi-newspaper"></md-icon>
                                    <md-switch flex class="md-primary" ng-model="vm.user.newsletter">
                                        Subscribe Newsletter
                                    </md-switch>
                                </div>
                            </div>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-raised md-primary">
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-content-save"></md-icon>
                                    <span>Update Account</span>
                                </md-button>
                            </md-card-actions>
                        </form>
                    </md-content>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>