<md-dialog aria-label="{{vm.county.id === 0 ? 'Add' : 'Edit'}} County" ng-cloak style="width: 400px"> 
    <form method="post" name="countyForm" ng-submit="vm.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{vm.county.id === 0 ? 'Add' : 'Edit'}} County</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.hide()">
                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-padding">
            <div layout="column">
                <div flex layout="column">
                    <!--Region Name-->
                    <md-input-container flex>
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-pencil"></md-icon>
                        <label>County Name</label>
                        <input type="text" name="county" ng-model="vm.county.name" required />
                        <div ng-messages="countyForm.county.$error">
                            <div ng-message="required">County name is required.</div>
                            <div ng-message="duplicate">County name already exists.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="vm.hide()">
                <span class="md-padding">
                    Cancel
                </span>
            </md-button>
            <span flex></span>
            <md-button class="md-raised md-primary" type="submit">
                <span class="md-padding">
                    {{vm.county.id === 0 ? 'Add' : 'Update'}} County
                </span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>    