<div layout="column">
    <div flex>
        <md-card>
            <md-toolbar class="md-table-toolbar md-menu-toolbar" ng-hide="vm.searchToolbarVisible">
                <div class="md-toolbar-tools">
                    <span>Settings</span>
                    <div flex></div>
                    <md-button ng-click="vm.toggleSearchBox(true)" class="md-icon-button">
                        <md-icon class="mdi mdi-24px mdi-magnify"></md-icon>
                        <md-tooltip md-direction="left">Search Setting</md-tooltip>
                    </md-button>
                </div>
            </md-toolbar>
            <md-toolbar class="md-table-toolbar md-menu-toolbar" ng-show="vm.searchToolbarVisible">
                <div class="md-toolbar-tools">
                    <md-button ng-click="vm.toggleSearchBox(false)" aria-label="Back">
                        <md-icon md-svg-icon="arrow_back.svg"></md-icon>
                    </md-button>
                    <md-input-container md-theme="input" flex>
                        <label>&nbsp;</label>
                        <input ng-model="vm.filter" placeholder="Enter settings keyword to search">
                    </md-input-container>
                    <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                        <md-icon md-svg-icon="search.svg"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-card-content class="no-adding-top">
                <!--Need refractor to filter menus properly-->
                <md-list>
                    <md-subheader class="md-no-sticky" ng-show="vm.showByTags(['content','login','dashboard','role'])">Content Management</md-subheader>
                    <md-list-item class="md-2-line" ui-sref="settings.content.menu" ng-show="vm.showByTags(['content','login','dashboard','role'])">
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-file"></md-icon>
                        <div class="md-list-item-text">
                            <h3> Content Management </h3>
                            <p> Manage Contents and Widgets </p>
                        </div>
                    </md-list-item>
                    <md-divider ng-show="vm.showByTags(['events','questions','choices','category','categories','regions','county','city','postcode'])"></md-divider>
                    <md-subheader class="md-no-sticky" ng-show="vm.showByTags(['events','questions','choices','category','categories','regions','county','city','postcode'])">Library Maintenance</md-subheader>
                    <md-list-item class="md-2-line" ui-sref="settings.events.list" ng-show="vm.showByTags(['events'])">
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-map"></md-icon>
                        <div class="md-list-item-text">
                            <h3>Events</h3>
                            <p> Manage Local and Regional Area Events</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ui-sref="settings.questions.list" ng-show="vm.showByTags(['questions','choices'])">
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-format-list-bulleted-type"></md-icon>
                        <div class="md-list-item-text">
                            <h3>Questions and Choices</h3>
                            <p> Manage questions and choices</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ui-sref="settings.categories.list" ng-show="vm.showByTags(['category','categories','questions'])">
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-layers"></md-icon>
                        <div class="md-list-item-text">
                            <h3>Categories</h3>
                            <p> Manage Categories &Aacute; Category Questions</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ui-sref="settings.regions.list" ng-show="vm.showByTags(['regions','county','city','postcode'])">
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-earth"></md-icon>
                        <div class="md-list-item-text">
                            <h3>Regions</h3>
                            <p> Manage Regions</p>
                        </div>
                    </md-list-item>
                    <md-divider ng-show="vm.showByTags(['roles','users'])"></md-divider>
                    <md-subheader class="md-no-sticky" ng-show="vm.showByTags(['roles','users'])">Accounts Maintenance</md-subheader>
                    <md-list-item class="md-2-line" ui-sref="settings.roles.list" ng-show="vm.showByTags(['roles','users'])">
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-folder-account"></md-icon>
                        <div class="md-list-item-text">
                            <h3> Roles </h3>
                            <p> Manage User Roles and Roles Access </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ui-sref="settings.users.list" ng-show="vm.showByTags(['roles','users'])">
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-account-multiple"></md-icon>
                        <div class="md-list-item-text">
                            <h3> Users </h3>
                            <p> Manage User</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>