
<div layout layout-align="center center">
    <div flex="initial">
        <md-card>
            <md-card-content class="md-padding">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox-content">
                            <h2 class="font-bold">Forgot password</h2>
                            <p>
                                Enter your email address and your password will be reset and emailed to you.
                            </p>
                            <div class="row">
                                <div class="col-lg-12">
                                    <form class="m-t" role="form" action="index.html">
                                        <md-input-container class="md-block">
                                            <label>Client Email</label>
                                            <input required type="email" name="email" ng-model="vm.user.email"
                                                   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                                            <div ng-messages="signupForm.email.$error" role="alert" ng-if="signupForm.email.$touched">
                                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <div layout="column" layout-gt-sm="row">
                                            <md-input-container flex layout="column">
                                                <md-button flex type="submit" flex class="md-raised md-primary">Send new password</md-button>
                                            </md-input-container>
                                            <md-input-container flex layout="column">
                                                <md-button flex class="md-raised" ng-href="/login">Login</md-button>
                                            </md-input-container>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <div layout="row" class="md-body-1 md-subhead md-muted" layout-padding layout-align="center center">
            <div>
                Copyright Venus Award
            </div>
            <div>
                <small>&copy; 2015</small>
            </div>
        </div>
    </div>
</div>