<div layout layout-align="center center">
    <div flex="initial">
        <md-card>
            <md-card-content class="md-padding">
                <div>
                    <div>
                        <h1 class="logo-name">
                            <img src="/images/logo.png" alt="VALA 2.0" title="VALA 2.0" />
                        </h1>
                    </div>
                    <h3>Welcome to Venus Awards </h3>
                    <p>
                        If you would like to make a nomination or apply for an award, please register.
                        <br />
                        It's totally free and we wont share your information with third parties.
                    </p>
                    <form method="post" ng-submit="vm.signup()" name="signupForm">
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>First name</label>
                                <input ng-model="vm.user.firstname" type="text" class="form-control" name="firstname" placeholder="First Name" required>
                                <div ng-messages="signupForm.firstname.$error" ng-if="signupForm.firstname.$touched">
                                    <div ng-message="required">First Name is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Last Name</label>
                                <input ng-model="vm.user.lastname" type="text" class="form-control" name="lastname" placeholder="Last Name" required>
                                <div ng-messages="signupForm.lastname.$error" ng-if="signupForm.lastname.$touched">
                                    <div ng-message="required">Last Name is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                            <label>Client Email</label>
                            <input required type="email" name="email" ng-model="vm.user.email"
                                   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                            <div ng-messages="signupForm.email.$error" role="alert" ng-if="signupForm.email.$touched">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                                </div>
                            </div>
                        </md-input-container>
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>First name</label>
                                <input ng-model="vm.user.password" type="password" class="form-control" name="password" placeholder="Password" required>
                                <div ng-messages="signupForm.password.$error" ng-if="signupForm.password.$touched">
                                    <div ng-message="required">Password is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Last Name</label>
                                <input ng-model="vm.user.password_confirmation" type="password" class="form-control" name="password_confirmation"
                                       placeholder="Confirm Password" compare-to="vm.user.password">
                                <div ng-messages="signupForm.password_confirmation.$error" ng-if="signupForm.password_confirmation.$touched">
                                    <div ng-message="compareTo">Confirm password is different</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row" layout="column" layout-padding layout-align="center center">
                            <div flex>
                                <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="vm.user.terms" name="terms" class="md-primary">
                                    Agree the terms and policy
                                </md-checkbox>
                                <div ng-messages="signupForm.terms.$error" ng-if="signupForm.terms.$touched">
                                    <div ng-message="required">Accept Terms and Policy is required.</div>
                                </div>
                            </div>
                            <div flex layout="column">
                                <md-button ng-disabled="signupForm.$invalid" ng-class="{'md-primary':!signupForm.$invalid}" type="submit" flex class="md-raised md-primary">Register</md-button>
                            </div>
                        </div>
                        <div layout-gt-sm="row" layout="column" layout-padding layout-align="center center">
                            <div flex>
                                Already have an account?
                            </div>
                            <div flex layout="column">
                                <md-button flex class="md-raised" ng-href="/login">Login</md-button>
                            </div>
                        </div>
                    </form>
                </div>
            </md-card-content>
        </md-card>
        <div layout="row" class="md-body-1 md-subhead md-muted" layout-padding layout-align="center center">
            <div>
                Copyright Venus Award
            </div>
            <div>
                <small>&copy; 2015</small>
            </div>
        </div>
    </div>
</div>