<md-tabs md-dynamic-height md-border-bottom class="md-white" md-selected="vm.activeTabIndex">
    <md-tab label="Cities" ng-disabled="!vm.regionArea.id" ui-sref="settings.regions.detail({id: vm.regionArea.id, tab: 'cities'})">
        <md-content class="md-transparent md-padding">
            <div layout="column" class="no-padding">
                <div flex>
                    <md-card>
                        <md-toolbar class="md-table-toolbar md-menu-toolbar" ng-hide="vm.selectedCities.length">
                            <div class="md-toolbar-tools">
                                <div>
                                    Cities of
                                    <md-menu>
                                        <a href="" aria-label="More" ng-click="$mdOpenMenu($event)">
                                            <strong>{{vm.county.name || vm.regionArea.name}}</strong>
                                            <md-icon class="mdi mdi-24px" md-font-icon="mdi-unfold-more"></md-icon>
                                        </a>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button ui-sref="settings.regions.cities({id: vm.regionArea.id, countyid: 0})">
                                                    {{vm.regionArea.name}} (All)
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item ng-repeat="item in vm.counties">
                                                <md-button ui-sref="settings.regions.cities({id: vm.regionArea.id, countyid: item.id})">
                                                    {{item.name}}
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                                <div flex>
                                </div>
                                <md-button ui-sref="settings.regions.city({id:vm.regionid, countyid: vm.countyid || 0, cityid: 0})" class="md-raised">
                                    <span style="padding: 0 10px;">
                                        Add City
                                    </span>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selectedCities.length">
                            <div class="md-toolbar-tools">
                                <span>{{vm.selectedCities.length}} {{vm.selectedCities.length > 1 ? 'items' : 'item'}} selected</span>
                                <div flex></div>
                                <md-button ng-click="vm.bulkDeleteCities($event)" class="md-raised">
                                    <span style="padding: 0 10px;">
                                        Delete selected
                                    </span>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-card-content>
                            <table md-table md-row-select="true" ng-model="vm.selectedCities">
                                <thead md-head md-order="vm.query.cities.order">
                                    <tr md-row>
                                        <th md-column md-order-by="name">
                                            <span>City Name</span>
                                        </th>
                                        <th md-column>
                                            <span>Postcodes</span>
                                        </th>
                                        <th md-column>
                                            <span>&nbsp;</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row md-select="item" ng-repeat="item in vm.cities | filter: vm.filter.search | orderBy: vm.query.cities.order | limitTo: vm.query.cities.limit : (vm.query.cities.page -1) * vm.query.cities.limit" ng-click="vm.mobileClick(item)">
                                        <td md-cell>
                                            {{item.name}}
                                        </td>
                                        <td md-cell>
                                            <span class="vala-comma-list" ng-repeat="item in item.postcodes">{{item}}</span>
                                        </td>
                                        <td md-cell style="text-align:right">
                                            <md-button ui-sref="settings.regions.city({id:vm.regionid, countyid: vm.countyid, cityid: item.id})" class="md-icon-button md-mini md-primary" aria-label="Edit City">
                                                <md-tooltip>
                                                    Edit City
                                                </md-tooltip>
                                                <md-icon class="mdi mdi-24px" md-font-icon="mdi-pencil"></md-icon>
                                            </md-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <md-table-pagination md-limit="vm.query.cities.limit" md-page="vm.query.cities.page" md-total="{{vm.cities.length}}"></md-table-pagination>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </md-content>
    </md-tab>
</md-tabs>