<md-tabs md-dynamic-height md-border-bottom class="md-white">
    <md-tab label="City">
        <md-content class="md-transparent md-padding">
            <div layout="column" class="no-padding">
                <div flex>
                    <form method="post" name="cityForm" ng-submit="vm.save()">
                        <md-card>
                            <md-toolbar class="md-table-toolbar md-menu-toolbar">
                                <div class="md-toolbar-tools">
                                    {{ (vm.city.id ? 'Edit' : 'Add') }} City
                                </div>
                            </md-toolbar>
                            <md-card-content>
                                <md-content class="md-padding">
                                    <div layout="column">
                                        <div flex layout="column">
                                            <!--County-->
                                            <md-input-container flex>
                                                <label>County</label>
                                                <md-select ng-model="vm.city.countyid" required name="county" ng-disabled="vm.countyid !== 0">
                                                    <md-option ng-repeat="item in vm.counties" value="{{item.id}}">
                                                        {{item.name}}
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="cityForm.county.$error">
                                                    <div ng-message="required">County is required to add a city.</div>
                                                </div>
                                            </md-input-container>
                                            <!--City Name-->
                                            <md-input-container flex>
                                                <label>City Name</label>
                                                <input type="text" name="city" ng-model="vm.city.name" required />
                                                <div ng-messages="cityForm.city.$error">
                                                    <div ng-message="required">City name is required.</div>
                                                    <div ng-message="duplicate">City name already exists.</div>
                                                </div>
                                            </md-input-container>
                                            <!--City Color-->
                                            <div layout="row">
                                                <div flex label="Color" md-color-picker random="true" ng-model="vm.city.color" open-on-input="true"></div>
                                            </div>
                                            <h2 class="md-title">Postcodes</h2>
                                            <div layout="column">
                                                <md-chips ng-model="vm.postcodes"
                                                          placeholder="Enter Postcode"
                                                          delete-button-label="Remove Postcode"
                                                          delete-hint="Press delete to remove tag"
                                                          secondary-placeholder="Enter Postcodes">
                                                    <md-tooltip>Press Enter to add each item</md-tooltip>
                                                </md-chips>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-card-content>
                            <md-card-actions layout="row">
                                <div flex>
                                </div>
                                <md-button class="md-raised md-primary" type="submit" ng-disabled="!vm.city.countyid">
                                    <span class="md-padding">
                                        {{vm.city.id ? 'Update' : 'Add'}} City
                                    </span>
                                </md-button>
                            </md-card-actions>
                        </md-card>
                    </form>
                </div>
            </div>
        </md-content>
    </md-tab>
</md-tabs>