<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="text-center article-title">
                        <h1>
                            The Website
                        </h1>
                    </div>
                    <p>This website and it's owners take a proactive approach to user privacy and ensure the necessary steps are taken to protect the privacy of its users  throughout their visiting experience. This website comply's to all UK national laws and requirements for user privacy.</p><br>
                    <hr>
                    <div class="text-center article-title">
                        <h1>
                            Use of Cookies
                        </h1>
                    </div>
                    <p>This website uses cookies to better the users experience while visiting the website.  </p>
                    <p>
                        Cookies are small files saved to the users computers hard drive that track, save and store information about the users interactions and usage of  the website. This allows the website, through it's server to provide the users with a tailored experience within this website.<br>
                        Users are advised that if they wish to deny the use and saving of cookies from this website on to their computers hard drive they should take necessary steps within their web browsers security settings to block all cookies from this website and it's external serving vendors.
                    </p>
                    <p>
                        This website uses tracking software to monitor it's visitors to better understand how they use it. This software is provided by Google Analytics which uses cookies to track visitor usage. The software will save a cookie to your computers hard drive in order to track and monitor your engagement and usage of the website but will not store, save or collect personal information. You can read Google's privacy policy here for further information [<a href="http://www.legislation.gov.uk/ukpga/1998/29/contents" target="_blank">http://www.google.com/privacy.html </a>].<br>
                    </p>
                    <p>Other cookies may be stored to your computers hard drive by external vendors when this website uses referral programs, sponsored links or adverts. Such cookies are used for conversion and referral tracking and typically expire after 30 days, though some may take longer. No personal information is stored, saved or collected.</p>
                </div>
            </div>
        </div>
    </div>
</div>
