<!--<div layout="column" flex layout-fill>
    <div>
        <md-tabs md-dynamic-height md-border-bottom style="background: #FFF" md-selected="vm.tabIndex">
            <md-tab label="{{tab.name}}" ng-repeat="tab in vm.tabs" ui-sref="{{tab.state}}" ui-sref-active="md-active"></md-tab>
        </md-tabs>
    </div>
</div>-->
<md-content ui-view class="md-padding md-transparent"></md-content>