<div layout-padding-gt-sm layout="column" layout-gt-sm="row" layout-align="stretch center" class="no-padding">
    <div flex-gt-sm="70">
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon mdi mdi-24px" md-font-icon="mdi-calendar-text"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Event Detail</span>
                    <span class="md-subhead">Event Detail / Location / Schedule</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="md-inline-form">
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom class="md-white" md-selected="vm.tabIndex">
                            <md-tab label="Step 1">
                                <md-content class="md-padding" ng-include="'app/settings/events/detail/steps/step-1.html'"></md-content>
                            </md-tab>

                            <md-tab label="Step 2">
                                <md-content class="md-padding" ng-include="'app/settings/events/detail/steps/step-2.html'"></md-content>
                            </md-tab>

                            <md-tab label="Step 3">
                                <md-content class="md-padding" ng-include="'app/settings/events/detail/steps/step-3.html'"></md-content>
                            </md-tab>

                            <md-tab label="Step 4">
                                <md-content class="md-padding" ng-include="'app/settings/events/detail/steps/step-4.html'"></md-content>
                            </md-tab>

                            <md-tab label="Step 5">
                                <md-content class="md-padding" ng-include="'app/settings/events/detail/steps/step-5.html'"></md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div flex-gt-sm="30">
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon mdi mdi-24px" md-font-icon="mdi-timelapse"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Progress</span>
                    <span class="md-subhead">Step 1 of 5</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="md-inline-form">
                    <md-content>
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-diameter="100px" md-mode="determinate" value="{{vm.stepPercentage}}">
                            </md-progress-circular>
                        </div>
                    </md-content>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>