<div layout-padding-gt-sm layout="column" layout-align="stretch center" class="no-padding">
    <div>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Events Calendar</span>
                    <span class="md-subhead">Calendar of all Events</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="no-adding-top">
               <h1>Coming Soon...</h1>
            </md-card-content>
        </md-card>
    </div>
</div>