<div layout="column" layout-gt-sm="row">
    <div flex>
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon mdi mdi-24px" md-font-icon="mdi-folder-account"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Role Information</span>
                    <span class="md-subhead">Role Details and Settings</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="md-inline-form">
                    <md-content>
                        <form method="post" name="roleForm" ng-submit="vm.saveRole()">
                            <div layout="column">
                                <div layout="row">
                                    <md-icon flex="none" style="width:40px" class="mdi mdi-24px" md-font-icon="mdi-checkbox-marked-circle"></md-icon>
                                    <md-switch flex="none" class="md-primary" ng-model="vm.role.status" ng-true-value="'enabled'" ng-false-value="'disabled'">
                                        Active
                                    </md-switch>
                                    <span flex></span>
                                    <!--Rank-->
                                    <md-input-container flex>
                                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-sort-variant"></md-icon>
                                        <label>Role Rank</label>
                                        <md-select ng-model="vm.role.rank" name="rank">
                                            <md-option ng-repeat="rank in [1,2,3,4,5,6,7,8,9,10]" value="{{rank}}">
                                                {{rank}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="profileForm.level.$error">
                                            <div ng-message="required">Rank is required.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout-gt-sm="row" layout="column">
                                <!--Role name-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-folder-account"></md-icon>
                                    <label>Role Name</label>
                                    <input ng-model="vm.role.name" name="name" required type="text" ng-change="vm.setSlug()">
                                    <div ng-messages="orgForm.name.$error">
                                        <div ng-message="required">Role Name is required.</div>
                                    </div>
                                </md-input-container>
                                <!--Slug-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-folder"></md-icon>
                                    <label>Slug</label>
                                    <input ng-model="vm.role.system_name" name="system_name" type="text" readonly>
                                </md-input-container>
                            </div>
                            <div layout="column">
                                <em layout="row">
                                    <md-icon class="mdi mdi-24px" style="width:27px" flex="none" md-font-icon="mdi-information"></md-icon>
                                    <span class="md-muted" flex="auto" style="padding-left:10px">Please write a short 40-word description about this role.</span>
                                </em>
                                <!--Biography-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-note-text"></md-icon>
                                    <label>Role Description</label>
                                    <textarea ng-model="vm.role.description" name="description" columns="1" md-maxlength="40" rows="5"></textarea>
                                </md-input-container>
                            </div>

                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-raised md-primary" type="submit">
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-content-save"></md-icon>
                                    <span>Save Role Information</span>
                                </md-button>
                            </md-card-actions>
                        </form>

                    </md-content>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>