<div layout-padding-gt-sm layout="column" layout-align="stretch center" class="no-padding">
    <div>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Role Modules (TBD: Not yet Implemented )</span>
                    <span class="md-subhead">System Modules accessible to this Role</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="no-adding-top">
                <md-data-table-container>
                    <table md-table>
                        <thead md-head md-order="vm.query.modules.order">
                            <tr md-row>
                                <th md-column hide show-gt-md md-order-by="name"><span>Module</span></th>
                                <th md-column md-order-by="status"><span>Access</span></th>
                                <th md-column hide show-gt-sm style="width: 108px;"><span>Actions</span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="item in vm.modules | filter: vm.filter.search | orderBy: vm.query.modules.order | limitTo: vm.query.modules.limit : (vm.query.modules.page -1) * vm.query.modules.limit">
                                <td md-cell>
                                    {{item.name}}
                                </td>
                                <td md-cell>
                                    <md-radio-group ng-model="item.level" class="md-radio-group-inline">
                                        <md-radio-button flex value="1">Override</md-radio-button>
                                        <md-radio-button flex value="2"> Delete </md-radio-button>
                                        <md-radio-button flex value="3">Edit</md-radio-button>
                                        <md-radio-button flex value="4">View</md-radio-button>
                                        <md-radio-button flex value="0">None</md-radio-button>
                                    </md-radio-group>
                                </td>
                                <td md-cell hide show-gt-sm>
                                    <div layout>
                                        <md-button class="md-icon-button md-primary" aria-label="More Information">
                                            <md-tooltip>
                                                More Information
                                            </md-tooltip>
                                            <md-icon class="mdi mdi-24px" md-font-icon="mdi-dots-horizontal"></md-icon>
                                        </md-button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-data-table-container>
                <md-divider></md-divider>
                <br />
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary">
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-content-save"></md-icon>
                        <span>Save Changes</span>
                    </md-button>
                </md-card-actions>
            </md-card-content>
        </md-card>
    </div>
</div>
