<div layout-padding-gt-sm layout="column" layout-align="stretch center" class="no-padding">
    <div>
        <md-card>
            <md-toolbar class="md-table-toolbar md-menu-toolbar" ng-hide="vm.selectedUsers.length">
                <div class="md-toolbar-tools">
                    <span>Role Users</span>
                </div>
            </md-toolbar>
            <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selectedUsers.length">
                <div class="md-toolbar-tools">
                    <span>{{vm.selectedUsers.length}} {{vm.selectedUsers.length > 1 ? 'items' : 'item'}} selected</span>
                    <div flex></div>
                    <md-button ng-click="vm.bulkDeleteRoleUsers($event)" class="md-raised">
                        <span style="padding: 0 10px;">
                            Remove from Role
                            <md-icon class="mdi mdi-24px mdi-delete"></md-icon>
                            <md-tooltip md-direction="left">Remove Selected User From Role</md-tooltip>
                        </span>
                    </md-button>
                </div>
            </md-toolbar>
            <md-card-content class="no-adding-top">
                <md-data-table-container>
                    <table md-table md-row-select="true" ng-model="vm.selectedUsers">
                        <thead md-head md-order="vm.query.users.order">
                            <tr md-row>
                                <th md-column md-order-by="displayName"><span>Name</span></th>
                                <th md-column hide show-gt-md date md-order-by="active"><span>Status</span></th>
                                <th md-column hide show-gt-md md-order-by="email"><span>Email</span></th>
                                <th md-column hide show-gt-sm style="width: 108px;"><span>Actions</span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select="item" ng-repeat="item in vm.users | filter: vm.filter.search | orderBy: vm.query.users.order | limitTo: vm.query.users.limit : (vm.query.users.page -1) * vm.query.users.limit">
                                <td md-cell>
                                    {{item.displayName}}
                                    <div class="md-muted" hide-gt-md>
                                        {{item.email}}, {{item.active ? 'Active' : 'Inactive'}}
                                    </div>
                                </td>
                                <td md-cell hide show-gt-md>
                                    {{item.active ? 'Active' : 'Inactive'}}
                                </td>
                                <td md-cell hide show-gt-md>
                                    {{item.email}}
                                </td>
                                <td md-cell hide show-gt-sm>
                                    <div layout>
                                        <md-button ui-sref="settings/users/view({id: item.id})" class="md-icon-button md-primary" aria-label="View User Information">
                                            <md-tooltip>
                                                View User Detail
                                            </md-tooltip>
                                            <md-icon class="mdi mdi-24px" md-font-icon="mdi-account-search"></md-icon>
                                        </md-button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-data-table-container>
                <md-table-pagination md-limit="vm.query.users.limit" md-page="vm.query.users.page" md-total="{{vm.regions.length}}"></md-table-pagination>
            </md-card-content>
        </md-card>
    </div>
</div>
