<h2>Step 2: Event Type</h2>
<form method="post" name="eventForm2" ng-submit="vm.saveDraft(2)">
    <div layout="column">
        <md-input-container flex layout="column">
            <!--Event Type-->
            <md-input-container flex>
                <label>How is the eligibility for your awards determined?</label>
                <md-select ng-model="vm.event.eventType" name="eventType" required>
                    <md-option ng-repeat="item in vm.eventTypes" value="{{item.id}}">
                        {{item.name}}
                    </md-option>
                </md-select>
                <div ng-messages="eventForm2.eventType.$error">
                    <div ng-message="required">Event Type is required.</div>
                </div>
            </md-input-container>

            <!--Post Code-->
            <md-input-container flex ng-if="vm.event.eventType == 1">
                <label>Organizarion</label>
                <input type="text" name="name" ng-model="vm.event.organisation"/>
            </md-input-container>

            <!--County-->
            <md-input-container flex ng-if="vm.event.eventType == 2">
                <label>County</label>
                <md-select ng-model="vm.event.countyid" name="eventType">
                    <md-option ng-repeat="item in vm.counties" value="{{item.id}}">
                        {{item.name}}
                    </md-option>
                </md-select>
                <div ng-messages="eventForm2.eventType.$error">
                    <div ng-message="required">County is required.</div>
                </div>
            </md-input-container>

            <!--Post Code-->
            <div ng-if="vm.event.eventType == 3">
                <md-chips flex ng-model="vm.event.postcodes"
                          placeholder="Enter a Postcode"
                          delete-button-label="Remove Postcode"
                          delete-hint="Press delete to remove postcode"
                          md-separator-keys="vm.keys"
                          secondary-placeholder="Enter a Postcode"></md-chips>
                <div ng-messages="eventForm2.eventType.$error">
                </div>
            </div>

            <!--City-->
            <md-input-container flex ng-if="vm.event.eventType == 4">
                <label>City</label>
                <md-select ng-model="vm.event.countyid" name="eventType">
                    <md-option ng-repeat="item in vm.counties" value="{{item.id}}">
                        {{item.name}}
                    </md-option>
                </md-select>
                <div ng-messages="eventForm2.eventType.$error">
                    <div ng-message="required">County is required.</div>
                </div>
            </md-input-container>

    </div>
    </div>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" ng-click="vm.prev('step-2')">
            <span>PREV </span>
            <md-icon class="mdi mdi-24px" md-font-icon="mdi-arrow-left"></md-icon>
        </md-button>

        <md-button class="md-raised md-primary" ng-click="vm.next('step-2')">
            <span>NEXT </span>
            <md-icon class="mdi mdi-24px" md-font-icon="mdi-arrow-right"></md-icon>
        </md-button>
    </md-card-actions>
</form>