<h2>Step 1: {{ vm.eventId === '0' ? 'Create an Event' : 'Edit Event' }}</h2>
<form method="post" name="eventForm1" ng-submit="vm.saveDraft(1)">
    <div layout="column">
        <div flex layout="column">
            <div layout="column" layout-gt-md="row">

                <!--Event Name-->
                <md-input-container flex>
                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-calendar-text"></md-icon>
                    <label>Event Name</label>
                    <input type="text" name="name" ng-model="vm.event.name" required />
                    <div ng-messages="eventForm.name.$error">
                        <div ng-message="required">Event Name is required.</div>
                    </div>
                </md-input-container>
                <div flex></div>
            </div>
            <div layout="column" layout-gt-md="row">

                <!--Launch Date-->
                <div flex layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-calendar-today"></md-icon>
                        <label>Launch Date</label>
                        <input type="date" mdp-date-picker ng-model="vm.event.start" />
                    </md-input-container>
                    <md-input-container flex>
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-clock"></md-icon>
                        <label>Launch Time</label>
                        <input ng-click="vm.showStartTimePicker($event)" type="time" mdp-clock ng-model="vm.event.start" />
                    </md-input-container>
                </div>

                <!--Ceremony Date-->
                <div flex layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-calendar"></md-icon>
                        <label>Ceremony Date</label>
                        <input type="date" mdp-date-picker ng-model="vm.event.end" />
                    </md-input-container>
                    <md-input-container flex>
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-clock"></md-icon>
                        <label>Ceremony Time</label>
                        <input ng-click="vm.showEndTimePicker($event)" type="time" mdp-clock ng-model="vm.event.end" />
                    </md-input-container>
                </div>

            </div>
            <div layout="column">
                <div flex layout="row">
                    <md-icon flex="none" style="width:40px" class="mdi mdi-24px" md-font-icon="mdi-earth"></md-icon>
                    <md-switch flex class="md-primary" ng-model="vm.user.public">
                        Display in Public
                    </md-switch>
                </div>
                <div flex layout="row">
                    <md-icon flex="none" style="width:40px" class="mdi mdi-24px" md-font-icon="mdi-sync"></md-icon>
                    <md-switch flex class="md-primary" ng-model="vm.user.eventbrite">
                        Update Eventbrite
                    </md-switch>
                </div>
            </div>
        </div>
    </div>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" ng-click="vm.next('step-1')">
            <span>NEXT </span>
            <md-icon class="mdi mdi-24px" md-font-icon="mdi-arrow-right"></md-icon>
        </md-button>
    </md-card-actions>
</form>