<h2>Step 5: Sponsors</h2>
<form method="post" name="eventForm" ng-submit="vm.saveDraft()">
    <div layout="column">
        <div flex>
            TODO
        </div>
    </div>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" ng-click="vm.prev('step-5')">
            <span>PREV </span>
            <md-icon class="mdi mdi-24px" md-font-icon="mdi-arrow-left"></md-icon>
        </md-button>

        <md-button class="md-raised md-primary" ng-click="vm.next('step-5')">
            <span>FINISH </span>
            <md-icon class="mdi mdi-24px" md-font-icon="mdi-arrow-right"></md-icon>
        </md-button>
    </md-card-actions>
</form>