$color_violet: rgb(106, 44, 145);
$color_lightviolet: rgb(182,62,151);
$color_gold: rgb(136,109,0);
$color_black: rgb(35,31,32);
$color_dark: rgb(87,88,90);
$color_lightblue: rgb(0, 159,194);
$color_pink: rgb(241,100,93);
$color_lightpink: rgb(243,119,111);
$color_success: #43c83c;
$color_warning: #f88529;
$color_important: #fa3031;


.bg-color-violet {
    background-color: $color_violet;
    color: #FFF;
}
.bg-color-lightviolet {
    background-color: $color_lightviolet;
    color: #FFF;
}  
.bg-color-gold {
    background-color: $color_gold;
    color: #FFF;
}      
.bg-color-black {
    background-color: $color_black;
    color: #FFF;
}        
.bg-color-dark {
    background-color: $color_dark;
    color: #FFF;
}            
.bg-color-lightblue {
    background-color: $color_lightblue;
    color: #FFF;
}              
.bg-color-pink {
    background-color: $color_pink;
    color: #FFF;
}                 
.bg-color-lightpink {
    background-color: $color_lightpink;
    color: #FFF;
}