.vala-header {
    span {
        line-height: 1px;
        &:not(:last-child)::after {
            content: '';
            display: block;
            float: right;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-left-color: #FFF;
            margin-top: 12px;
            margin-right: -4px;
            opacity: 0.75;
        }
    }
}
