.disable-animations {
    .collapsing {
        transition: none;
    }
}

#splash-page {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9999;
}

.md-padding-remove {
    padding: 0!important;
}

google-chart {
    
}

.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

