<md-dialog aria-label="{{ !vm.question.id ? 'Add' : 'Edit'}} Question" ng-cloak style="width: 400px">
    <form method="post" name="questionForm" ng-submit="vm.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ !vm.question.id ? 'Add' : 'Edit'}} Question</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.hide()">
                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-padding">
            <div layout="column" layout-padding>
                <div flex layout="column">
                    <md-input-container flex>
                        <label>Name/Label</label>
                        <input type="text" name="name" ng-model="vm.question.name" required />
                        <div ng-messages="questionForm.name.$error">
                            <div ng-message="required">name is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Question</label>
                        <input type="text" name="question" ng-model="vm.question.question" required />
                        <div ng-messages="questionForm.question.$error">
                            <div ng-message="required">Question is required.</div>
                        </div>
                    </md-input-container>
                    <div layout="row">
                        <md-checkbox aria-label="Active" ng-model="vm.question.status" ng-true-value="'enabled'" ng-false-value="'disabled'">
                            Enabled
                        </md-checkbox>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="vm.hide()">
                <span class="md-padding">
                    Cancel
                </span>
            </md-button>
            <span flex></span>
            <md-button class="md-raised md-primary" type="submit">
                <span class="md-padding">
                    {{ !vm.question.id ? 'Add' : 'Update'}} Question
                </span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>    