<md-tabs md-dynamic-height md-border-bottom class="md-white">
    <md-tab label="Questions">
        <md-content class="md-transparent">
            <div layout="column" layout-fill class="no-padding">
                <md-card>
                    <md-toolbar class="md-table-toolbar md-menu-toolbar" ng-hide="vm.selectedQuestions.length || vm.searchBox">
                        <div class="md-toolbar-tools">
                            <span>Questions</span>
                            <div flex></div>
                            <md-menu hide-gt-sm md-position-mode="target-right target" layout-align="right">
                                <md-button aria-label="Choose Chart Question to Display" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="md-avatar-icon" md-svg-src="more_vert.svg"></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="vm.addEdit({systemquestion: 0, subquestion: 0, parentid: 0, status: 1, id: 0}, $event)">Add New Question</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            <!--<md-button hide show-gt-sm ng-click="vm.searchBox = true" class="md-icon-button">
                                <md-icon class="mdi mdi-24px mdi-magnify"></md-icon>
                            </md-button>-->
                            <md-button hide show-gt-sm ng-click="vm.addEdit({systemquestion: 0, subquestion: 0, parentid: 0, status: 1, id: 0}, $event)" class="md-raised">
                                Add
                                <md-icon class="mdi mdi-24px mdi-plus"></md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selectedQuestions.length">
                        <div class="md-toolbar-tools">
                            <span>{{vm.selectedQuestions.length}} {{vm.selectedQuestions.length > 1 ? 'items' : 'item'}} selected</span>
                            <div flex></div>
                            <md-button ng-click="vm.bulkDeleteQuestions($event)" class="md-raised">
                                <span style="padding: 0 10px;">
                                    Delete Selected
                                    <md-icon class="mdi mdi-24px mdi-delete"></md-icon>
                                    <md-tooltip md-direction="left">Delete Selected Questions</md-tooltip>
                                </span>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-toolbar class="md-table-toolbar md-menu-toolbar" ng-show="vm.searchBox">
                        <div class="md-toolbar-tools">
                            <md-button ng-click="vm.searchBox = false" aria-label="Back" class="md-icon-button">
                                <md-icon md-svg-icon="arrow_back.svg"></md-icon>
                            </md-button>
                            <md-input-container md-theme="input" flex>
                                <label>&nbsp;</label>
                                <input ng-model="vm.filter.search" placeholder="Enter settings keyword to search">
                            </md-input-container>
                            <md-button aria-label="Search" class="md-icon-button">
                                <md-icon md-svg-icon="search.svg"></md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-table-content class="no-adding-top">
                        <md-data-table-container>
                            <table md-table md-row-select="true" ng-model="vm.selectedQuestions">
                                <thead md-head md-order="vm.query.order">
                                    <tr md-row>
                                        <th md-column md-order-by="name"><span>Label</span></th>
                                        <th md-column hide show-gt-md md-order-by="question"><span>Question</span></th>
                                        <th md-column hide show-gt-sm style="width: 108px;"><span>Actions</span></th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row md-select="item" ng-repeat="item in vm.questions | filter: vm.filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit" ng-click="vm.mobileClick(item)">
                                        <td md-cell>
                                            {{item.name}}
                                        </td>
                                        <td md-cell hide show-gt-md>
                                            {{item.question}}
                                        </td>
                                        <td md-cell style="text-align: right">
                                            <md-menu md-position-mode="target-right target">
                                                <md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-dots-vertical"></md-icon>
                                                </md-button>
                                                <md-menu-content width="4">
                                                    <md-menu-item>
                                                        <md-button ng-click="vm.addEdit(item, $event)">
                                                            Edit
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button ui-sref="settings.questions.choices({id: item.id})">
                                                            Choices
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-data-table-container>
                    </md-table-content>
                    <md-table-footer>
                        <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.questions.length}}"></md-table-pagination>
                    </md-table-footer>
                </md-card>
            </div>
        </md-content>
    </md-tab>
</md-tabs>