<md-dialog aria-label="{{ !vm.question.id ? 'Add' : 'Edit'}} Question" ng-cloak style="width: 800px">
    <form method="post" name="questionForm" ng-submit="vm.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ !vm.question.id ? 'Add' : 'Edit'}} Question</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.hide()">
                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-padding">
            <div layout="column" layout-padding>
                <div flex layout="column">
                    <md-input-container style="margin-right: 10px;">
                        <label>Type</label>
                        <md-select ng-model="vm.categoryQuestion.question.type" style="text-transform: capitalize;">
                            <md-option ng-repeat="type in vm.types" value="{{type}}">{{type | humanize}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex ng-if="vm.categoryQuestion.question.type=='specific'">
                        <label>Name/Label</label>
                        <input type="text" name="name" ng-model="vm.categoryQuestion.question.name" required ng-disabled="vm.categoryQuestion.question.type!='specific'" />
                        <div ng-messages="questionForm.name.$error">
                            <div ng-message="required">name is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="question-not-specific" flex ng-if="vm.categoryQuestion.question.type !='specific'">
                        <md-select placeholder="{{vm.categoryQuestion.question.name ||'Select '+(vm.categoryQuestion.question.type | humanize)}}" ng-model="vm.categoryQuestion.question" md-on-open="vm.loadQuestions({type: vm.categoryQuestion.question.type})" style="min-width: 200px;color:black;" required name="question">
                            <md-option ng-value="question" ng-repeat="question in vm.questions" style="color:black !important;">{{question.name}}</md-option>
                        </md-select>
                        <div ng-messages="questionForm.question.$error">
                            <div ng-message="required">question is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Question</label>
                        <input type="text" name="question" ng-model="vm.categoryQuestion.question.question" required ng-disabled="vm.categoryQuestion.question.type !='specific'" style="color: black;"/>
                        <div ng-messages="questionForm.question.$error">
                            <div ng-message="required">Question is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Order</label>
                        <md-select placeholder="Order Number" ng-model="vm.categoryQuestion.order" required name="order">
                            <md-option ng-value="$index+1" ng-repeat="order in vm.order_numbers() track by $index">{{$index+1}}</md-option>
                        </md-select>
                        <div ng-messages="questionForm.order.$error">
                            <div ng-message="required">name is required.</div>
                        </div>
                    </md-input-container>

                     <md-input-container>
                        <md-checkbox aria-label="Active" ng-model="vm.categoryQuestion.status" ng-true-value="true" ng-false-value="'disabled'">
                            Enabled
                        </md-checkbox>
                    </md-input-container>

                    <md-input-container class="question-type" style="margin:0px;padding:0px;text-transform: capitalize;">
                        <label>Question Type</label>
                        <md-select ng-model="vm.categoryQuestion.question.question_type" required name="question_type" ng-disabled="vm.categoryQuestion.question.type !='specific'">
                            <md-option ng-value="question_type" ng-repeat="question_type in vm.question_types">{{question_type | humanize}}</md-option>
                        </md-select>
                        <div ng-messages="questionForm.question_type.$error">
                            <div ng-message="required">Question type is required.</div>
                        </div>

                        <md-radio-group ng-model="vm.categoryQuestion.question.right_choice_id" ng-if="vm.categoryQuestion.question.question_type=='multiple_choice'">
                            <md-radio-button ng-value="choice.id" ng-repeat="choice in vm.categoryQuestion.question.choices track by $index" ng-disabled="vm.categoryQuestion.question.type !='specific'" style="margin-bottom: -35px;"></md-radio>
                            <p ng-value="$index">{{choice.name}}</p>

                        </md-radio-button>

                        <md-input-container ng-if="vm.newChoice">
                            <input ng-model="vm.newChoice.name">
                        </md-input-container>

                        <md-button class="md-raised md-primary" ng-click="vm.saveChoice(vm.categoryQuestion.question)" style="margin-top: 30px;margin-left: 0px;" ng-hide="vm.categoryQuestion.question.type !='specific' || !vm.newChoice">Save New Choice</md-button>

                        <md-button class="md-raised md-primary" ng-click="vm.addChoice()" style="margin-top: 30px;margin-left: 0px;" ng-hide="vm.categoryQuestion.question.type !='specific' || vm.newChoice">Add New Choice</md-button>

                    </md-input-container>

                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="vm.hide()">
                <span class="md-padding">
                    Cancel
                </span>
            </md-button>
            <span flex></span>
            <md-button class="md-raised md-primary" type="submit">
                <span class="md-padding">
                    {{ !vm.categoryQuestion.id ? 'Add' : 'Update'}} Question
                </span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>