<md-tabs md-dynamic-height md-border-bottom class="md-white" md-selected="1">
    <md-tab label="Category Detail" ui-sref="settings.categories.detail({id:vm.category.id})">
    </md-tab>
    <md-tab label="Category Questions">
        <md-content class="md-transparent md-padding">
            <div layout="column" class="no-padding">
                <div>
                    <md-card>
                        <md-toolbar class="md-table-toolbar md-menu-toolbar" ng-hide="vm.selectedQuestions.length">
                            <div class="md-toolbar-tools">
                                <span>Questions</span>
                                <div flex></div>
                                <md-button hide show-gt-sm ng-click="vm.addEdit({id: 0}, $event)" class="md-raised">
                                    <span style="padding: 0 10px;">
                                        Add Question
                                        <md-icon class="mdi mdi-24px mdi-plus"></md-icon>
                                        <md-tooltip md-direction="left">Add Question</md-tooltip>
                                    </span>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selectedQuestions.length">
                            <div class="md-toolbar-tools">
                                <span>{{vm.selectedQuestions.length}} {{vm.selectedQuestions.length > 1 ? 'items' : 'item'}} selected</span>
                                <div flex></div>
                                <md-button ng-click="vm.bulkDeleteQuestions($event)" class="md-raised">
                                    <span style="padding: 0 10px;">
                                        Delete Selected
                                        <md-icon class="mdi mdi-24px mdi-delete"></md-icon>
                                        <md-tooltip md-direction="left">Delete Selected Questions</md-tooltip>
                                    </span>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-card-content class="no-adding-top">
                            <md-data-table-container>
                                <table md-table md-row-select="true" ng-model="vm.selectedQuestions">
                                    <thead md-head md-order="vm.query.order">
                                        <tr md-row>
                                            <th md-column md-order-by="question.question"><span>Question</span></th>
                                            <th md-column hide show-gt-md md-order-by="order"><span>Order</span></th>
                                            <th md-column hide show-gt-md md-order-by="type"><span>type</span></th>
                                            <th md-column style="width: 40px; text-align:right;"><span>Action</span></th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row md-select="item" ng-repeat="item in vm.questions | filter: vm.filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit" ng-click="vm.mobileClick(item, $event)">
                                            <td md-cell>
                                                {{item.question.name}}
                                            </td>
                                            <td md-cell hide show-gt-md>
                                                {{item.order}}
                                            </td>
                                            <td md-cell hide show-gt-md>
                                                {{item.question.type | humanize}}
                                            </td>
                                            <td md-cell style="text-align:right">
                                                <md-menu md-position-mode="target-right target">
                                                    <md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-dots-vertical"></md-icon>
                                                    </md-button>
                                                    <md-menu-content width="4">
                                                        <md-menu-item>
                                                            <md-button ng-click="vm.addEdit(item, $event)">
                                                                Edit
                                                            </md-button>
                                                        </md-menu-item>
                                                    </md-menu-content>
                                                </md-menu>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-data-table-container>
                            <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.questions.length}}"></md-table-pagination>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </md-content>
    </md-tab>
</md-tabs>