<div layout-padding-gt-sm layout="column" layout-align="stretch center" class="no-padding">
    <div>
        <md-card>
            <md-toolbar class="md-table-toolbar md-menu-toolbar" ng-hide="vm.selectedEvents.length">
                <div class="md-toolbar-tools">
                    <span>Events</span>
                    <div flex></div>
                    <md-menu hide-gt-sm md-position-mode="target-right target" layout-align="right">
                        <md-button aria-label="Choose Chart Type to Display" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                            <md-icon class="md-avatar-icon" md-svg-src="more_vert.svg"></md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ui-sref="settings.events.detail({id:0})">Add New Regional Area</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-button hide show-gt-sm ui-sref="settings.events.detail({id:0})" class="md-raised">
                        <span style="padding: 0 10px;">
                            Add Event
                            <md-icon class="mdi mdi-24px mdi-plus"></md-icon>
                            <md-tooltip md-direction="left">Add Event</md-tooltip>
                        </span>
                    </md-button>
                </div>
            </md-toolbar>
            <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selectedEvents.length">
                <div class="md-toolbar-tools">
                    <span>{{vm.selectedEvents.length}} {{vm.selectedEvents.length > 1 ? 'items' : 'item'}} selected</span>
                    <div flex></div>
                    <md-button ng-click="vm.bulkDeleteEvents($event)" class="md-raised">
                        <span style="padding: 0 10px;">
                            Delete Selected
                            <md-icon class="mdi mdi-24px mdi-delete"></md-icon>
                            <md-tooltip md-direction="left">Delete Selected Events</md-tooltip>
                        </span>
                    </md-button>
                </div>
            </md-toolbar>
            <md-card-content class="no-adding-top">
                <md-data-table-container>
                    <table md-table md-row-select="true" ng-model="vm.selectedEvents">
                        <thead md-head md-order="vm.query.order">
                            <tr md-row>
                                <th md-column md-order-by="name"><span>Event Name</span></th>
                                <th md-column hide show-gt-md date md-order-by="start"><span>Open</span></th>
                                <th md-column hide show-gt-md date md-order-by="end"><span>Close</span></th>
                                <th md-column hide show-gt-md md-order-by="area"><span>Area</span></th>
                                <th md-column hide show-gt-sm style="width: 108px;"><span>Actions</span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select="item" ng-repeat="item in vm.events | filter: vm.filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit" ng-click="vm.mobileClick(item)">
                                <td md-cell>
                                    {{item.name}}
                                    <div hide-gt-md>
                                        <strong>{{item.area}} </strong>
                                        <br />
                                        <em><span class="md-muted">From</span> {{item.start | date}} <span class="md-muted">to</span> {{item.end | date}}</em>
                                    </div>
                                </td>
                                <td md-cell hide show-gt-md>
                                    {{item.start | date}}
                                </td>
                                <td md-cell hide show-gt-md>
                                    {{item.end | date}}
                                </td>
                                <td md-cell hide show-gt-md>
                                    {{item.area}}
                                </td>
                                <td md-cell hide show-gt-sm>
                                    <div layout>
                                        <md-button ui-sref="settings.events.detail({id: item.id})" class="md-icon-button md-primary" aria-label="Edit Event">
                                            <md-tooltip>
                                                Edit Event
                                            </md-tooltip>
                                            <md-icon class="mdi mdi-24px" md-font-icon="mdi-pencil"></md-icon>
                                        </md-button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-data-table-container>
                <md-data-table-pagination md-limit="vm.limit" md-page="vm.page" md-total="{{vm.events.length}}"></md-data-table-pagination>
            </md-card-content>
        </md-card>
    </div>
</div>