<div layout="column" layout-gt-sm="row" layout-align="stretch center">
    <div flex="100" flex-gt-sm="50">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Dashboard Buttons Per Role</span>
                    <span class="md-subhead">Buttons per Role</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="no-padding-top">
                <div layout-gt-sm="row" layout="column">
                    <!--New Password-->
                    <md-input-container flex>
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-folder-account"></md-icon>
                        <label>Select Role to Edit</label>
                        <md-select ng-model="vm.role" name="role">
                            <md-option ng-repeat="role in vm.roles" value="{{role.id}}">
                                {{role.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-list>
                    <md-list-item ng-repeat="item in vm.selectedButtons">
                        <md-button class="md-fab md-mini" ng-class="item.classname">
                            <md-icon class="mdi mdi-24px" md-font-icon="{{item.icon}}"></md-icon>
                        </md-button>
                        <p>
                            {{item.name}}
                        </p>
                        <md-switch class="md-secondary" ng-model="item.enabled"></md-switch>
                    </md-list-item>
                </md-list>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary">
                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-content-save"></md-icon>
                    <span>Save Changes</span>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex="100" flex-gt-sm="50">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Buttons Title</span>
                    <span class="md-subhead">Button Titles</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="no-padding-top">
                <div layout="column">
                    <em layout="row">
                        <md-icon class="mdi mdi-24px" style="width:27px" flex="none" md-font-icon="mdi-information"></md-icon>
                        <span class="md-muted" flex="auto" style="padding-left:10px">Please write a short 100-word title text for buttons.</span>
                    </em>
                    <!--Biography-->
                    <md-input-container flex>
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-information"></md-icon>
                        <label>Buttons Title</label>
                        <textarea ng-model="vm.content.text" name="button_text" columns="1" md-maxlength="40" rows="5"></textarea>
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
