<div layout="column" layout-align="stretch center">
    <div flex>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Dashboard Content</span>
                    <span class="md-subhead">Dashboard Content Managment Page</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="no-padding-top">

            </md-card-content>
        </md-card>
    </div>
</div>
