<div layout="column" layout-gt-sm="row" layout-align="stretch center">
    <div flex="100" flex-gt-sm="50">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Dashboard Widgets Per Role</span>
                    <span class="md-subhead">Widgets per Role</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="no-padding-top">
                <div layout-gt-sm="row" layout="column">
                    <!--New Password-->
                    <md-input-container flex>
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-folder-account"></md-icon>
                        <label>Select Role to Edit</label>
                        <md-select ng-model="vm.role" name="role">
                            <md-option ng-repeat="role in vm.roles" value="{{role.id}}">
                                {{role.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-list>
                    <md-list-item ng-repeat="item in vm.selectedWidgets">
                        <md-icon class="mdi mdi-24px" md-font-icon="{{item.icon}}"></md-icon>
                        <p>
                            {{item.name}}
                        </p>
                        <md-switch class="md-secondary" ng-model="item.enabled"></md-switch>
                    </md-list-item>
                </md-list>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary">
                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-content-save"></md-icon>
                    <span>Save Changes</span>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex="100" flex-gt-sm="50">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Main Widgets Charts Per Role</span>
                    <span class="md-subhead">Main Widgets Chart selections per Role</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="no-padding-top">
                <div layout-gt-sm="row" layout="column">
                    <!--New Password-->
                    <md-input-container flex>
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-folder-account"></md-icon>
                        <label>Select Role to Edit</label>
                        <md-select ng-model="vm.chartrole" name="role">
                            <md-option ng-repeat="role in vm.roles" value="{{role.id}}">
                                {{role.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <br />
                <div layout="row">
                    <strong flex="1">Default</strong>
                    <strong flex="none" style="width:12px"></strong>
                    <strong flex="auto">Type</strong>
                    <strong flex="1">Enabled</strong>
                </div>
                <md-list>
                    <md-list-item ng-repeat="item in vm.selectedCharts">
                        <md-checkbox ng-model="item.default"></md-checkbox>
                        <p>
                            {{item.name}}
                        </p>
                        <md-switch class="md-secondary" ng-model="item.enabled"></md-switch>
                    </md-list-item>
                </md-list>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary">
                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-content-save"></md-icon>
                    <span>Save Changes</span>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
