<md-tabs md-dynamic-height md-border-bottom class="md-white" md-selected="vm.tabIndex">
    <md-tab ui-sref="settings.events.list" label="Event List" ng-if="!vm.isDetailpage">
    </md-tab>
    <md-tab ui-sref="settings.events.calendar" label="Event Calendar" ng-if="!vm.isDetailpage">
    </md-tab>
    <md-tab label="Event Detail" ng-if="vm.isDetailpage">
    </md-tab>
</md-tabs>
<div ui-view></div>