<md-tabs md-dynamic-height md-border-bottom class="md-white">
    <md-tab label="Users">
        <md-content class="md-transparent md-padding">
            <div layout="column" class="no-padding">
                <div>
                    <md-card>
                        <md-toolbar class="md-table-toolbar md-menu-toolbar" ng-hide="vm.selectedUsers.length">
                            <div class="md-toolbar-tools">
                                <span>Registered Users</span>
                                <div flex></div>
                                <md-menu hide-gt-sm md-position-mode="target-right target" layout-align="right">
                                    <md-button aria-label="Choose Chart Type to Display" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                        <md-icon class="md-avatar-icon" md-svg-src="more_vert.svg"></md-icon>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item>
                                            <md-button ui-sref="settings.users.detail({id:0})">Create User</md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <md-button hide show-gt-sm ui-sref="settings.users.detail({id:0})" class="md-raised">
                                    <span style="padding: 0 10px;">
                                        Create User
                                        <md-icon class="mdi mdi-24px mdi-plus"></md-icon>
                                        <md-tooltip md-direction="left">Create User</md-tooltip>
                                    </span>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selectedUsers.length">
                            <div class="md-toolbar-tools">
                                <span>{{vm.selectedUsers.length}} {{vm.selectedUsers.length > 1 ? 'items' : 'item'}} selected</span>
                                <div flex></div>
                                <md-button ng-click="vm.bulkDelete($event)" class="md-raised">
                                    <span style="padding: 0 10px;">
                                        Delete Selected
                                        <md-icon class="mdi mdi-24px mdi-delete"></md-icon>
                                        <md-tooltip md-direction="left">Delete Selected Users</md-tooltip>
                                    </span>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-card-content class="no-padding-top">
                            <md-data-table-container>
                                <table md-table md-row-select="true" ng-model="vm.selectedUsers">
                                    <thead md-head md-order="vm.query.order">
                                        <tr md-row>
                                            <th md-column md-order-by="name"><span>Name</span></th>
                                            <th md-column hide show-gt-md date md-order-by="registred_date">
                                                <span>Registered Date / Active / Verified</span>
                                            </th>
                                            <th md-column hide show-gt-md md-order-by="regions">
                                                <span>Regions / Roles</span>
                                            </th>
                                            <th md-column hide show-gt-sm style="width: 108px;">
                                                <span>Actions</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row md-select="item" ng-repeat="item in vm.users | filter: vm.filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit" ng-click="vm.mobileClick(item)">
                                            <td md-cell>
                                                <div layout>
                                                    <vala-avatar flex="none" image-url="{{item.profile.picture}}" class="vala-avatar-radius"></vala-avatar>
                                                    <div class="md-body-1">
                                                        <div><strong hide-gt-md>{{item.name}}</strong><span hide show-gt-md>{{item.name}}</span></div>
                                                        <div class="md-muted">
                                                            {{item.email}}
                                                            <div hide-gt-md>
                                                                <span>{{item.date_registered | date}}</span>
                                                                <em class="md-" ng-class="{'md-primary' : item.status}">{{item.status == 'active' ? 'Active' : 'Inactive'}}</em>
                                                                <em class="md-" ng-class="{'md-primary' : item.verified}">{{item.verified == 'yes' ? 'Verified' : 'Not-Verified'}}</em>
                                                            </div>
                                                        </div>
                                                        <div hide-gt-md>
                                                            <strong>
                                                                <span class="vala-comma-list" ng-repeat="region in item.regions">{{region.name}}</span>
                                                            </strong>
                                                            <span class="md-muted">
                                                                <em class="vala-comma-list" ng-repeat="role in item.roles">{{role.name}}</em>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td md-cell hide show-gt-md>
                                                <div>{{item.date_registered | date}}</div>
                                                <div class="md-muted">
                                                    <em class="md-" ng-class="{'md-primary' : item.active}">{{item.status == 'active' ? 'Active' : 'Inactive'}}</em>
                                                    <em class="md-" ng-class="{'md-primary' : item.verified}">{{item.verified == 'yes' ? 'Verified' : 'Not-Verified'}}</em>
                                                </div>
                                            </td>
                                            <td md-cell hide show-gt-md>
                                                <!--<div>
                                                    <span class="vala-comma-list" ng-repeat="region in item.regions">{{region.name}}</span>
                                                </div>-->
                                                <div class="md-muted">
                                                    <em class="vala-comma-list" ng-repeat="role in item.roles">{{role.name}}</em>
                                                </div>
                                            </td>
                                            <td md-cell hide show-gt-sm>
                                                <div layout>
                                                    <md-button ng-click="vm.confirmMasquerade(item)" class="md-icon-button md-accent" aria-label="Masquerade">
                                                        <md-tooltip>
                                                            Masquerade
                                                        </md-tooltip>
                                                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-account-key"></md-icon>
                                                    </md-button>
                                                    <md-button ui-sref="settings.users.detail({id: item.id})" class="md-icon-button md-primary" aria-label="Edit User Information">
                                                        <md-tooltip>
                                                            Edit User Information
                                                        </md-tooltip>
                                                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-pencil"></md-icon>
                                                    </md-button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-data-table-container>
                            <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.userCount}}" md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </md-content>
    </md-tab>
</md-tabs>