<div ng-cloak layout-gt-md="row" layout-gt-sm="column" layout-align="stretch center">
    <div flex-gt-md="30" flex-sm="100">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">David Frankel</span>
                    <span class="md-subhead">CEO on Venus Awards</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="space-between">
                <img class="md-media-xl card-media" src="images/faces/0.jpg" />
                <md-card-actions layout="column">
                    <md-button class="md-icon-button" aria-label="Settings">
                        <md-icon md-svg-icon="menu.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon md-svg-icon="star.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share" ui-sref="profile/edit">
                        <md-icon md-svg-icon="edit.svg"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card-content>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon" md-svg-icon="mail.svg"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">&nbsp;You have 1 Message</span>
                    <span class="md-subhead">&nbsp;You have 3 Notifications</span>
                </md-card-header-text>
            </md-card-header>
        </md-card>
        <md-card>

            <md-card-content no-padding-top>
                <md-list>
                    <md-list-item ui-sref="profile/edit">
                        <md-icon md-svg-src="person.svg"></md-icon>
                        <p class="md-body-1">Edit Profile</p>
                    </md-list-item>
                    <md-list-item ng-click="vm.mockClick()">
                        <md-icon md-svg-src="assignment_ind.svg"></md-icon>
                        <p class="md-body-1">Nominate Someone</p>
                    </md-list-item>
                    <md-list-item ng-click="vm.mockClick()">
                        <md-icon md-svg-src="account_box.svg"></md-icon>
                        <p class="md-body-1">Apply for an Award</p>
                    </md-list-item>
                    <md-list-item ng-click="vm.mockClick()">
                        <md-icon md-svg-src="send.svg"></md-icon>
                        <p class="md-body-1">My Sent Nomination</p>
                    </md-list-item>
                    <md-list-item ng-click="vm.mockClick()">
                        <md-icon md-svg-src="assignment.svg"></md-icon>
                        <p class="md-body-1">My Applications</p>
                    </md-list-item>
                    <md-list-item ng-click="vm.mockClick()">
                        <md-icon md-svg-src="assignment_late.svg"></md-icon>
                        <p class="md-body-1">My Recieved Nominations</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div flex>
        <div layout-gt-lg="row" layout="column">
            <div flex-gt-lg="50" flex="100">
                <md-card>
                    <md-card-header>
                        <md-card-header-text>
                            <div layout="row">
                                <div flex>
                                    <div class="md-title">
                                        News Feeds
                                    </div>
                                    <div class="md-subhead">Recent News Feeds from Vala</div>
                                </div>
                                <div flex="1">
                                    <md-menu md-position-mode="target-right target" layout-align="right">
                                        <md-button aria-label="Choose Chart Type to Display" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                            <md-icon class="md-avatar-icon" icon="more_vert.svg"></md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button ng-click="vm.refreshNews()">
                                                    <div layout="row">
                                                        <p flex>Refresh news</p>
                                                        <md-icon md-svg-src="refresh" md-menu-align-target style="margin: auto 3px auto 0"></md-icon>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="vm.moreNews()">

                                                    <div layout="row">
                                                        <p flex>Show more news</p>
                                                        <md-icon md-svg-src="more_horiz" md-menu-align-target style="margin: auto 3px auto 0"></md-icon>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                            </div>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content class="no-padding-top">
                        <md-list>
                            <md-list-item class="md-3-line" ng-repeat="item in [5,6,7,8]">
                                <img ng-src="/images/faces/{{item}}.jpg" class="md-avatar" alt="{{todos[0].who}}" />
                                <div class="md-list-item-text" layout="column">
                                    <h3>@User{{ item }}</h3>
                                    <h4>Region {{ item }}</h4>
                                    <p>Upcomming event orem lorem lorem lorem lorem, lorem lo lorem. Impsum lorem is dolor set amet. {{ item }}</p>
                                    <br />
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
            <div flex-gt-lg="50" flex="100">
                <md-card>
                    <md-card-header>
                        <md-card-header-text>
                            <div layout="row">
                                <div flex>
                                    <div class="md-title">
                                        News and Events
                                    </div>
                                    <div class="md-subhead">News and Events</div>
                                </div>
                                <div flex="1">
                                    <md-menu md-position-mode="target-right target" layout-align="right">
                                        <md-button aria-label="Choose Chart Type to Display" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                            <md-icon class="md-avatar-icon" icon="more_vert.svg"></md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button ng-click="vm.refreshNews()">
                                                    <div layout="row">
                                                        <p flex>Refresh</p>
                                                        <md-icon md-svg-src="refresh" md-menu-align-target style="margin: auto 3px auto 0"></md-icon>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="vm.moreNews()">

                                                    <div layout="row">
                                                        <p flex>Show more news</p>
                                                        <md-icon md-svg-src="more_horiz" md-menu-align-target style="margin: auto 3px auto 0"></md-icon>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                            </div>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content class="no-padding-top">
                        <md-list>
                            <md-list-item class="md-2-line">
                                <img ng-src="/images/sponsors/logo.png" class="md-avatar" />
                                <div class="md-list-item-text" layout="column">
                                    <h3>Employee of the Month Awarding</h3>
                                    <p>We will have the <strong>Awarding Ceremony</strong> at AT&T arena on Dec 25, 205 at 8:00pm. See you there. Buy tickets now!</p>
                                    <br />
                                </div>
                                <md-button class="md-raised md-mini md-warn">
                                    <md-icon md-svg-src="shopping_cart.svg"></md-icon>
                                    BUY TICKET
                                </md-button>
                            </md-list-item>
                            <md-list-item class="md-2-line">
                                <img ng-src="/images/sponsors/logo.jpg" class="md-avatar" />
                                <div class="md-list-item-text" layout="column">
                                    <h3>Voting Starts Today!</h3>
                                    <p>Votimg session on <strong>Devon</strong> started on Dec 1, 2015. Vote your Employee of the month now!</p>
                                    <br />
                                </div>
                                <md-button class="md-raised md-mini md-primary">
                                    <md-icon md-svg-src="check_circle.svg"></md-icon>
                                    VOTE NOW
                                </md-button>
                            </md-list-item>
                            <md-list-item class="md-2-line">
                                <img ng-src="/images/sponsors/logo.jpg" class="md-avatar" />
                                <div class="md-list-item-text" layout="column">
                                    <h3>Good News!</h3>
                                    <p>You can now invite your friends on facebook! Visit your profile to invite friends.</p>
                                    <br />
                                </div>
                                <md-button class="md-raised md-mini md-primary">
                                    <md-icon md-svg-src="person.svg"></md-icon>
                                    VIEW PROFILE
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>