<div layout="column" layout-gt-sm="row">
    <div flex-gt-sm="60" flex-gt-md="70">
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon mdi mdi-24px" md-font-icon="mdi-bank"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Organization Information</span>
                    <span class="md-subhead">User's Organization Information</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="md-inline-form">
                    <md-content>
                        <form method="post" name="orgForm">
                            <div layout-gt-sm="row" layout="column">
                                <!--Org name-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-bank"></md-icon>
                                    <label>Organization Name</label>
                                    <input ng-model="vm.user.org_name" name="org_name" required type="text">
                                    <div ng-messages="orgForm.org_name.$error">
                                        <div ng-message="required">Organization Name is required.</div>
                                    </div>
                                </md-input-container>
                                <!--Org Industry-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-book-open"></md-icon>
                                    <label>Organization Industry</label>
                                    <md-select ng-model="vm.user.org_industry" name="org_industry">
                                        <md-option ng-repeat="industry in vm.industries" value="{{industry.id}}">
                                            {{industry.name}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="orgForm.org_industry.$error">
                                        <div ng-message="required">Organization Industry is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row" layout="column">
                                <!--Org address-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-map-marker"></md-icon>
                                    <label>Organization Address</label>
                                    <input ng-model="vm.user.org_address" name="org_address" required type="text">
                                    <div ng-messages="orgForm.org_address.$error">
                                        <div ng-message="required">Organization Address is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row" layout="column">
                                <!--Org address 2-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-map-marker-multiple"></md-icon>
                                    <label>Organization Address 2</label>
                                    <input ng-model="vm.user.org_address2" name="org_address2" type="text">
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row" layout="column">
                                <!--Org city-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-city"></md-icon>
                                    <label>Organization City</label>
                                    <input ng-model="vm.user.org_city" name="org_city" required type="text">
                                    <div ng-messages="orgForm.org_city.$error">
                                        <div ng-message="required">Organization City is required.</div>
                                    </div>
                                </md-input-container>
                                <!--Org county-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-city"></md-icon>
                                    <label>Organization County</label>
                                    <md-select ng-model="vm.user.org_county" name="org_county">
                                        <md-option ng-repeat="county in vm.counties" value="{{county.id}}">
                                            {{county.name}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="orgForm.org_county.$error">
                                        <div ng-message="required">Organization County is required.</div>
                                    </div>
                                </md-input-container>
                                <!--Org PostCode-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" hide-gt-sm md-font-icon="mdi-numeric-0-box"></md-icon>
                                    <label>Post Code</label>
                                    <input ng-model="vm.user.org_postcode" name="org_postcode" type="text">
                                </md-input-container>
                            </div>

                            <div layout="column">
                                <!--Work Number-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-phone"></md-icon>
                                    <label>Work Number</label>
                                    <input ng-model="vm.user.work_number" name="work_number" type="text">
                                </md-input-container>
                            </div>
                            <div layout="column">
                                <em layout="row">
                                    <md-icon class="mdi mdi-24px" style="width:27px" flex="none" md-font-icon="mdi-information"></md-icon>
                                    <span class="md-muted" flex="auto" style="padding-left:10px">Please write a short 40-word description about your organisation.</span>
                                </em>
                                <!--Biography-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-account-box"></md-icon>
                                    <label>About Organization</label>
                                    <textarea ng-model="vm.user.biography" name="biography" columns="1" md-maxlength="40" rows="5"></textarea>
                                </md-input-container>
                            </div>

                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-raised md-primary">
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-content-save"></md-icon>
                                    <span>Save Organization Information</span>
                                </md-button>
                            </md-card-actions>
                        </form>

                    </md-content>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div flex-gt-sm="40" flex-gt-md="30" flex="100">
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon mdi mdi-24px" md-font-icon="mdi-account-box"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Profile Picture</span>
                    <span class="md-subhead">Account's Public Profile Picture</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="md-inline-form">
                    <md-content>
                        <form name="orgFileForm" action="/users/upload" method="post" enctype="multipart/form-data">

                            <div layout="column" layout-align="center center" layout-fill>
                                <div flex="none">
                                    <img class="md-card-image" style="max-width:100%" ngf-thumbnail="vm.picture || '/images/no-org-photo.png'" src="/images/no-photo.png" alt="Profile Picture" />
                                </div>
                            </div>

                            <div layout="column" layout-align="center center">
                                <div flex="none">
                                    <!--First name-->
                                    <md-input-container flex-gt-sm>
                                        <input id="org_picture" ngf-select="vm.uploadOrgPicture($file)" type="file" style="display:none"
                                               ng-model="vm.user.org_picture" name="picture" ngf-accept="'image/*'" required />
                                        <div ng-messages="orgFileForm.org_picture.$error">
                                            <div ng-message="required">First Name is required.</div>
                                        </div>
                                    </md-input-container>
                                    <md-button class="md-fab">
                                        <label for="org_picture">
                                            <md-icon class="mdi mdi-24px" md-font-icon="mdi-camera"></md-icon>
                                        </label>
                                    </md-button>

                                </div>
                            </div>

                        </form>
                    </md-content>
                </div>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon mdi mdi-24px" md-font-icon="mdi-link"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Social Media Links</span>
                    <span class="md-subhead">User's Social Media Accounts</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="md-inline-form">
                    <md-content>
                        <div layout="column">
                            <!--Facebook-->
                            <div layout="row">
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-facebook"></md-icon>
                                    <label>Facebook Link</label>
                                    <input ng-model="vm.user.facebook.link" name="facebook" readonly type="text">
                                </md-input-container>
                                <div flex="none">
                                    <md-button class="md-raised md-primary">GET LINK</md-button>
                                </div>
                            </div>
                            <!--Twitter-->
                            <div layout="row">
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-twitter"></md-icon>
                                    <label>Twitter Link</label>
                                    <input ng-model="vm.user.twitter.link" name="twitter" readonly type="text">
                                </md-input-container>
                                <div flex="none">
                                    <md-button class="md-raised md-primary">GET LINK</md-button>
                                </div>
                            </div>
                            <!--Linked In-->
                            <div layout="row">
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-linkedin"></md-icon>
                                    <label>Linked In Link</label>
                                    <input ng-model="vm.user.linkedin.link" name="linkedin" readonly type="text">
                                </md-input-container>
                                <div flex="none">
                                    <md-button class="md-raised md-primary">GET LINK</md-button>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>