<div layout="column" layout-gt-sm="row">
    <div flex-gt-sm="60" flex-gt-md="70">
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon mdi mdi-24px" md-font-icon="mdi-account"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Personal Information</span>
                    <span class="md-subhead">User's Personal Information</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="md-inline-form">
                    <md-content flex>
                        <form>
                            <div layout-gt-md="row" layout="column">
                                <!--First name-->
                                <md-input-container flex-gt-sm>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-account"></md-icon>
                                    <label>First Name</label>
                                    <input ng-model="vm.user.firstname" name="firstname" required type="text">
                                    <div ng-messages="profileForm.firstname.$error">
                                        <div ng-message="required">First Name is required.</div>
                                    </div>
                                </md-input-container>
                                <!--Midle initial-->
                                <md-input-container flex-gt-sm="20" flex-sm="100">
                                    <md-icon hide-gt-sm class="mdi mdi-24px" md-font-icon="mdi-account"></md-icon>
                                    <label>MI</label>
                                    <input ng-model="vm.user.MI" name="MI" required type="text" maxlength="2">
                                    <div ng-messages="profileForm.MI.$error">
                                        <div ng-message="required">MI is required.</div>
                                        <div ng-message="maxlength">MI is at most 2 Chracters.</div>
                                    </div>
                                </md-input-container>
                                <!--Last name-->
                                <md-input-container flex-gt-sm flex-sm="100">
                                    <md-icon hide-gt-sm class="mdi mdi-24px" md-font-icon="mdi-account"></md-icon>
                                    <label>Last Name</label>
                                    <input ng-model="vm.user.lastname" name="lastname" required type="text">
                                    <div ng-messages="profileForm.lastname.$error">
                                        <div ng-message="required">Last Name is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout>
                                <!--Job Title-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-briefcase"></md-icon>
                                    <label>Job Title</label>
                                    <input ng-model="vm.user.profile.job_title" name="job_title" type="text">
                                </md-input-container>
                            </div>
                            <div layout-gt-md="row" layout="column">
                                <!--Gender-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-gender-male-female"></md-icon>
                                    <label>Gender</label>
                                    <md-select ng-model="vm.user.profile.gender" name="gender">
                                        <md-option ng-repeat="gender in vm.genders" value="{{gender.name}}">
                                            {{gender.name | uppercase}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="profileForm.gender.$error">
                                        <div ng-message="required">Gender is required.</div>
                                    </div>
                                </md-input-container>
                                <!--Birth Date-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-calendar"></md-icon>
                                    <label>Birth Date</label>
                                    <input ng-model="vm.user.profile.birth_date" placeholder="yyyy-MM-dd" name="birth_date" type="date">
                                </md-input-container>
                            </div>
                            <div layout="column">
                                <!--Address-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-map-marker"></md-icon>
                                    <label>Address</label>
                                    <input ng-model="vm.user.profile.address" name="address" required type="text">
                                    <div ng-messages="profileForm.address.$error">
                                        <div ng-message="required">Address is required.</div>
                                    </div>
                                </md-input-container>
                                <!--Address 2-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-map-marker-multiple"></md-icon>
                                    <label>Address 2</label>
                                    <input ng-model="vm.user.profile.address2" name="address2" type="text">
                                </md-input-container>
                            </div>
                            <div layout-gt-md="row" layout="column">
                                <!--City-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-city"></md-icon>
                                    <label>City</label>
                                    <input ng-model="vm.user.city" name="city" required type="text">
                                    <div ng-messages="profileForm.city.$error">
                                        <div ng-message="required">City is required.</div>
                                    </div>
                                </md-input-container>
                                <!--Regional Area-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" hide-gt-sm md-font-icon="mdi-map"></md-icon>
                                    <label>Regional Area</label>
                                    <input ng-model="vm.user.regional_area" name="regional_area" required type="text">
                                    <div ng-messages="profileForm.regional_area.$error">
                                        <div ng-message="required">Regional Area is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-md="row" layout="column">
                                <!--County-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-city"></md-icon>
                                    <label>County</label>
                                    <md-select ng-model="vm.user.county" name="county">
                                        <md-option ng-repeat="county in vm.counties" value="{{county.id}}">
                                            {{county.name}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="profileForm.county.$error">
                                        <div ng-message="required">County is required.</div>
                                    </div>
                                </md-input-container>
                                <!--Post Code-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" hide-gt-sm md-font-icon="mdi-numeric-0-box"></md-icon>
                                    <label>Post Code</label>
                                    <input ng-model="vm.user.postcode" name="postcode" type="text">
                                </md-input-container>
                            </div>
                            <div layout-gt-md="row" layout="column">
                                <!--phone_number-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-phone"></md-icon>
                                    <label>Phone Number</label>
                                    <input ng-model="vm.user.profile.phone_number" name="phone_number" type="text">
                                </md-input-container>
                                <!--Mobile Number-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-cellphone"></md-icon>
                                    <label>Mobile Number</label>
                                    <input ng-model="vm.user.profile.mobile_number" name="mobile_number" type="text">
                                </md-input-container>

                            </div>
                            <div layout="column">
                                <em layout="row" flex>
                                    <md-icon class="mdi mdi-24px" style="width:27px" flex="none" md-font-icon="mdi-information"></md-icon>
                                    <span class="md-muted" flex="auto" style="padding-left:10px">If a third party was asked how to describe you in a 40-word summary what would they say? For example, "{{vm.user.firstname}} {{vm.user.lastname}} is ..."</span>
                                </em>
                                <!--Biography-->
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-account-box"></md-icon>
                                    <label>About {{vm.user.firstname}}</label>
                                    <textarea ng-model="vm.user.profile.biography" name="biography" columns="1" md-maxlength="40" rows="5"></textarea>
                                </md-input-container>
                            </div>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-raised md-primary">
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-content-save"></md-icon>
                                    <span>Save Personal Information</span>
                                </md-button>
                            </md-card-actions>
                        </form>

                    </md-content>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div flex-gt-sm="40" flex-gt-md="30" flex="100">
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon mdi mdi-24px" md-font-icon="mdi-account-box"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Profile Picture</span>
                    <span class="md-subhead">Account's Public Profile Picture</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="md-inline-form">
                    <md-content>
                        <form name="profileFileForm" action="/users/upload" method="post" enctype="multipart/form-data">

                            <div layout="column" layout-align="center center" layout-fill>
                                <div flex="none">
                                    <img class="md-card-image" style="max-width:100%" ngf-thumbnail="vm.user.profile.picture || '/images/faces/0.jpg'" src="/images/no-photo.png" alt="Profile Picture" />
                                </div>
                            </div>

                            <div layout="column" layout-align="center center">
                                <div flex="none">
                                    <!--First name-->
                                    <md-input-container flex-gt-sm>
                                        <input id="profile_picture" ngf-select="vm.uploadPicture($file)" type="file" style="display:none"
                                               ng-model="vm.user.profile.picture" name="picture" ngf-accept="'image/*'" required />
                                        <div ng-messages="profileFileForm.firstname.$error">
                                            <div ng-message="required">First Name is required.</div>
                                        </div>
                                    </md-input-container>
                                    <md-button class="md-fab">
                                        <label for="profile_picture">
                                            <md-icon class="mdi mdi-24px" md-font-icon="mdi-camera"></md-icon>
                                        </label>
                                    </md-button>

                                </div>
                            </div>

                        </form>
                    </md-content>
                </div>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon mdi mdi-24px" md-font-icon="mdi-link"></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Social Media Links</span>
                    <span class="md-subhead">User's Social Media Accounts</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <div class="md-inline-form">
                    <md-content>
                        <div layout="column">
                            <!--Facebook-->
                            <div layout="row">
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-facebook"></md-icon>
                                    <label>Facebook Link</label>
                                    <input ng-model="vm.user.profile.facebook.link" name="facebook" readonly type="text">
                                </md-input-container>
                                <div flex="none">
                                    <md-button class="md-raised md-primary">GET LINK</md-button>
                                </div>
                            </div>
                            <!--Twitter-->
                            <div layout="row">
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-twitter"></md-icon>
                                    <label>Twitter Link</label>
                                    <input ng-model="vm.user.profile.twitter.link" name="twitter" readonly type="text">
                                </md-input-container>
                                <div flex="none">
                                    <md-button class="md-raised md-primary">GET LINK</md-button>
                                </div>
                            </div>
                            <!--Linked In-->
                            <div layout="row">
                                <md-input-container flex>
                                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-linkedin"></md-icon>
                                    <label>Linked In Link</label>
                                    <input ng-model="vm.user.profile.linkedin.link" name="linkedin" readonly type="text">
                                </md-input-container>
                                <div flex="none">
                                    <md-button class="md-raised md-primary">GET LINK</md-button>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>