<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
            <div class="ibox-content mailbox-content">
                <div class="file-manager">
                    <a class="btn btn-block btn-primary compose-mail" ui-sref="email_compose">Create New Region</a>

                    <div class="space-25"></div>
                    <h5>Regions</h5>
                    <ul class="folder-list m-b-md" style="padding: 0">
                        <li><a ui-sref="regionsettings"> <i class="fa fa-wrench"></i> Event Settings <span class="label label-primary pull-right">3</span> </a></li>
                        <li><a ui-sref="regionsettings"> <i class="fa fa-th"></i> Local Categories<span class="label label-warning pull-right">10</span> </a></li>
                        <li><a ui-sref="regionsettings"> <i class="fa fa-list"></i> Nomination List<span class="label label-success pull-right">16</span> </a></li>
                        <li><a ui-sref="regionsettings"> <i class="fa fa-align-justify"></i> Application List<span class="label label-danger pull-right">20</span> </a></li>
                        <li><a ui-sref="regionsettings"> <i class="fa fa-list-ul"></i> Judge List<span class="label label-info pull-right">4</span> </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-7 col-xs-7">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 class="btn-block"><i class="fa fa-list"></i> Nomination List<span class="label label-success pull-right">3</span></h5>
                </div>
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
