<md-tabs md-dynamic-height md-border-bottom class="md-white">
    <md-tab label="Roles">
        <md-content class="md-transparent md-padding">
            <div layout="column" class="no-padding">
                <div>
                    <md-card>
                        <md-toolbar class="md-table-toolbar md-menu-toolbar" ng-hide="vm.selectedRoles.length">
                            <div class="md-toolbar-tools">
                                <span>User Roles</span>
                                <div flex></div>
                                <md-menu hide-gt-sm md-position-mode="target-right target" layout-align="right">
                                    <md-button aria-label="Choose Chart Type to Display" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                        <md-icon class="md-avatar-icon" md-svg-src="more_vert.svg"></md-icon>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item>
                                            <md-button ui-sref="settings.roles.detail({id:0})">Add New Regional Area</md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <md-button hide show-gt-sm ui-sref="settings.roles.detail({id:0})" class="md-raised">
                                    <span style="padding: 0 10px;">
                                        Add User Role
                                        <md-icon class="mdi mdi-24px mdi-plus"></md-icon>
                                        <md-tooltip md-direction="left">Add Role</md-tooltip>
                                    </span>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selectedRoles.length">
                            <div class="md-toolbar-tools">
                                <span>{{vm.selectedRoles.length}} {{vm.selectedRoles.length > 1 ? 'items' : 'item'}} selected</span>
                                <div flex></div>
                                <md-button ng-click="vm.bulkDeleteRoles($event)" class="md-raised">
                                    <span style="padding: 0 10px;">
                                        Delete Selected
                                        <md-icon class="mdi mdi-24px mdi-delete"></md-icon>
                                        <md-tooltip md-direction="left">Delete Selected Roles</md-tooltip>
                                    </span>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-card-content class="no-adding-top">
                            <md-data-table-container>
                                <table md-table md-row-select="true" ng-model="vm.selectedRoles">
                                    <thead md-head md-order="vm.query.order">
                                        <tr md-row>
                                            <th md-column md-order-by="displayName"><span>Role Name</span></th>
                                            <th md-column hide show-gt-md date md-order-by="created_date"><span>Created Date</span></th>
                                            <th md-column hide show-gt-md date md-order-by="status"><span>Status</span></th>
                                            <th md-column hide show-gt-md md-order-by="rank"><span>Rank</span></th>
                                            <th md-column hide show-gt-sm style="width: 108px;"><span>Actions</span></th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row md-select="item" ng-repeat="item in vm.roles | filter: vm.filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit" ng-click="vm.mobileClick(item)">
                                            <td md-cell>
                                                {{item.name}}
                                            </td>
                                            <td md-cell hide show-gt-md>
                                                {{item.created_at | date}}
                                            </td>
                                            <td md-cell hide show-gt-md>
                                                <em class="md-label" ng-class="{'md-primary' : item.status == 'enabled' || item.status == 1}">{{item.status == 'enabled' || item.status == 1 ? 'Enabled' : 'Disabled'}}</em>
                                            </td>
                                            <td md-cell hide show-gt-md>
                                                {{item.rank}}
                                            </td>
                                            <td md-cell hide show-gt-sm>
                                                <div layout>
                                                    <md-button ui-sref="settings.roles.detail({id: item.id})" class="md-primary" aria-label="Edit Role">
                                                        <md-tooltip>
                                                            Edit Role
                                                        </md-tooltip>
                                                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-pencil"></md-icon>
                                                    </md-button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-data-table-container>
                            <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.roles.length}}"></md-table-pagination>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </md-content>
    </md-tab>
</md-tabs>