<md-tabs md-dynamic-height md-border-bottom class="md-white" md-selected="0">
    <md-tab label="Category Detail" ui-sref="settings.categories.detail({id: vm.category.id})">
        <md-content class="md-transparent md-padding">
            <form method="post" name="categoryForm" ng-submit="vm.save()">
                <div layout="column" class="no-padding">
                    <div>
                        <md-card>
                            <md-card-header>
                                <md-card-avatar>
                                    <md-icon class="mdi mdi-24px md-avatar-icon" md-font-icon="mdi-pencil"></md-icon>
                                </md-card-avatar>
                                <md-card-header-text>
                                    <span>Category: <strong>{{vm.category.name}}</strong></span>
                                    <span class="md-subhead">{{ !vm.category.id ? 'Add' : 'Edit'}} category detail</span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content class="no-adding-top">
                                <div layout="column" layout-padding>
                                    <div flex layout="column">
                                        <md-input-container flex>
                                            <label>Name/Label</label>
                                            <input type="text" name="name" ng-model="vm.category.name" required />
                                            <div ng-messages="categoryForm.name.$error">
                                                <div ng-message="required">name is required.</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Default Tagline</label>
                                            <textarea type="text" name="tag_line" ng-model="vm.category.tag_line" required />
                                            <div ng-messages="categoryForm.category.$error">
                                                <div ng-message="required">Tag Line is required.</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Short name</label>
                                            <input type="text" name="shortname" ng-model="vm.category.short_name" />
                                        </md-input-container>

                                        <div layout="row">
                                            <div flex label="Category Color" md-color-picker ng-model="vm.category.color"></div>
                                            <!--<div label="Category Color"  md-color-picker type="text" name="color" value="vm.category.color"></div>-->
                                        </div>
                                    </div>
                                </div>
                                <md-dialog-actions layout="row">
                                    <md-button ng-click="vm.hide()">
                                        <span class="md-padding">
                                            Cancel
                                        </span>
                                    </md-button>
                                    <span flex></span>
                                    <md-button class="md-raised md-primary" type="submit">
                                        <span class="md-padding">
                                            {{ !vm.category.id ? 'Add' : 'Update'}} Category
                                        </span>
                                    </md-button>
                                </md-dialog-actions>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            </form>
        </md-content>
    </md-tab>
    <md-tab label="Category Questions" ui-sref="settings.categories.questions({id:vm.category.id})">
    </md-tab>
</md-tabs>