<div ng-cloak layout="column">
    <div flex>
        <md-card>
            <md-card-content no-padding-top>
                <h1>Public and Open Events</h1>
                <h2>Coming Soon</h2>
            </md-card-content>
        </md-card>
    </div>
</div>