<md-tabs md-dynamic-height md-border-bottom class="md-white">
    <md-tab label="Choices">
        <md-content class="md-transparent">
            <md-card>
                <md-toolbar class="md-table-toolbar md-menu-toolbar" ng-hide="vm.selectedChoices.length">
                    <div class="md-toolbar-tools">
                        <span>Choices</span>
                        <div flex></div>
                        <md-menu hide-gt-sm md-position-mode="target-right target" layout-align="right">
                            <md-button aria-label="Choose Chart Choice to Display" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                <md-icon class="md-avatar-icon" md-svg-src="more_vert.svg"></md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button ng-click="vm.addEdit({questionid: vm.questionid, status: 'enabled', id: 0}, $event)">Add New Choice</md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-button hide show-gt-sm ng-click="vm.addEdit({questionid: vm.questionid, status: 'enabled', id: 0}, $event)" class="md-raised">
                            <span style="padding: 0 10px;">
                                Add
                                <md-icon class="mdi mdi-24px mdi-plus"></md-icon>
                                <md-tooltip md-direction="left">Add Choice</md-tooltip>
                            </span>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selectedChoices.length">
                    <div class="md-toolbar-tools">
                        <span>{{vm.selectedChoices.length}} {{vm.selectedChoices.length > 1 ? 'items' : 'item'}} selected</span>
                        <div flex></div>
                        <md-button ng-click="vm.bulkDeleteChoices($event)" class="md-raised">
                            <span style="padding: 0 10px;">
                                Delete Selected
                                <md-icon class="mdi mdi-24px mdi-delete"></md-icon>
                                <md-tooltip md-direction="left">Delete Selected Choices</md-tooltip>
                            </span>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-table-content class="no-adding-top">
                    <md-data-table-container>
                        <table md-table md-row-select="true" ng-model="vm.selectedChoices">
                            <thead md-head md-order="vm.query.order">
                                <tr md-row>
                                    <th md-column md-order-by="name"><span>Choice Name</span></th>
                                    <th md-column hide show-gt-md md-order-by="choice"><span>Correct choice</span></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-select="item" ng-click="vm.addEdit(item, $event)" ng-repeat="item in vm.choices | filter: vm.filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                                    <td md-cell>
                                        {{item.name}}
                                    </td>
                                    <td md-cell hide show-gt-md>
                                        {{ (item.answer ? 'Yes' : 'No') }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-data-table-container>
                </md-table-content>
                <md-table-footer>
                    <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.choices.length}}"></md-table-pagination>
                </md-table-footer>
            </md-card>
        </md-content>
    </md-tab>
</md-tabs>