<md-dialog aria-label="{{ !vm.choice.id ? 'Add' : 'Edit'}} Choice" ng-cloak style="width: 400px">
    <form method="post" name="choiceForm" ng-submit="vm.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ !vm.choice.id ? 'Add' : 'Edit'}} Choice</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.hide()">
                    <md-icon class="mdi mdi-24px" md-font-icon="mdi-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-padding">
            <div layout="column" layout-padding>
                <div flex layout="column">
                    <md-input-container flex>
                        <label>Choice Name/Label</label>
                        <input type="text" name="name" ng-model="vm.choice.name" required />
                        <div ng-messages="choiceForm.name.$error">
                            <div ng-message="required">name is required.</div>
                        </div>
                    </md-input-container>
                    <div layout-gt-sm="row" layout="column">
                        <md-checkbox aria-label="Active" ng-model="vm.choice.answer" ng-true-value="true" ng-false-value="false">
                            Correct Answer
                        </md-checkbox>
                        <md-checkbox aria-label="Active" ng-model="vm.choice.status" ng-true-value="'enabled'" ng-false-value="'disabled'">
                            Enabled
                        </md-checkbox>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="vm.hide()">
                <span class="md-padding">
                    Cancel
                </span>
            </md-button>
            <span flex></span>
            <md-button class="md-raised md-primary" type="submit">
                <span class="md-padding">
                    {{ !vm.choice.id ? 'Add' : 'Update'}} Choice
                </span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>    