vala-avatar {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: 6px;
    position: relative;
    vertical-align: middle;

    &.vala-avatar-lg {
        height: 64px;
        width: 64px;
    }

    &.vala-avatar-md {
        height: 24px;
        width: 24px;
    }

    &.vala-avatar-sm {
        height: 16px;
        width: 16px;
    }

    &.vala-avatar-radius {
        > div {
            border-radius: 100%;
            overflow: hidden;
        }
    }

    > div {
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            opacity: 0;
        }
    }
}

.vala-comma-list {
    &:after {
        font-weight: bold;
        opacity: 0.75;
        content: ', ';
    }

    &:last-of-type:after {
        content: '';
    }
}

.vala-white {
    background: #FFF;
}

.vala-radius {
    border-radius: 100%;
}

.vala-padding-10px {
    padding: 10px;
}

.vala-padding-none {
    padding: 0;
}

.vala-hide-animate {
    position: fixed;
    left: 50%;
    top: 0;
    margin-top: 0;
    height: auto;
    width: 40px;
    margin-left: -20px;
    background: transparent;
    z-index: 9999;
}

.vala-hide-animate.ng-hide-add, .vala-hide-animate.ng-hide-remove {
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    display: block !important;
}

.vala-hide-animate.ng-hide-add.ng-hide-add-active,
.vala-hide-animate.ng-hide-remove {
    margin-top: -100px;
}

.vala-hide-animate.ng-hide-add,
.vala-hide-animate.ng-hide-remove.ng-hide-remove-active {
    margin-top: 0;
}
