<div layout="column">
    <div flex>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Content Settings</span>
                    <span class="md-subhead">Content Management Page</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="no-adding-top">
                <md-list>
                    <md-list-item class="md-2-line" ui-sref="settings.content.login">
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-login"></md-icon>
                        <div class="md-list-item-text">
                            <h3> Login Page </h3>
                            <p> Manage Login Content </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ui-sref="settings.content.dashboard.content">
                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-view-dashboard"></md-icon>
                        <div class="md-list-item-text">
                            <h3> Dashboard Page </h3>
                            <p> Manage Dashboard Content</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>