<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar class="md-tall md-hue-1" ui-sref="profile" md-ink-ripple>
        <div hide class="bg-logo" style="background-image:url({{vm.user.orgLogo || '/images/logo.png'}})"></div>
        <div hide class="bg-gradient-up"></div>
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
            <div layout="row">
                <img alt="image" class="user-avatar" ng-src="{{vm.user.picture || '/images/no-photo.png'}}" width="64" height="64" />
                <img hide alt="image" class="user-logo" ng-src="{{vm.user.orgLogo || '/images/logo.png'}}" height="32" layout-align="right" />
            </div>
            <span></span>
            <div ng-bind="vm.user.displayName || 'Guest User'"></div>
            <div ng-bind="vm.user.email || 'Please provide your email'"></div>
        </div>
    </md-toolbar>
    <md-list>
        <md-list-item ng-repeat="item in vm.menu" ng-click="vm.navigate(item)">
            <md-icon class="mdi mdi-24px" md-font-icon="{{item.icon}}" ui-sref-active="md-warn md-hue-1">
                <a ui-sref="{{item.state}}" hide></a>
            </md-icon>
            <p>
                {{item.title}}
            </p>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader>Management</md-subheader>
        <md-list-item ng-repeat="item in vm.admin" ng-click="vm.navigate(item)">
            <md-icon class="mdi mdi-24px" md-font-icon="{{item.settings.icon}}" ui-sref-active="md-primary md-hue-1">
                <a ui-sref="{{item.name}}" hide></a>
            </md-icon>
            <p>
                {{item.title}}
            </p>
        </md-list-item>
    </md-list>
</md-sidenav>
<div flex layout="column" layout-fill role="main" id="content">
    <md-toolbar class="md-menu-toolbar" layout="column">
        <div class="md-toolbar-tools">
            <md-button ng-click="vm.toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="/images/menu.svg">
                </md-icon>
            </md-button>
            <h3>
                <a ui-sref="dashboard.widgets" >
                    <img src="/images/logo.png" />
                </a>
            </h3>
            <md-menu md-position-mode="target-right target">
                <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-src="more_vert.svg"></md-icon>
                </md-button>
                <md-menu-content width="4" style="min-height: 410px;">
                    <md-menu-item>
                        <md-button ng-click="vm.logout()">
                            <div layout="row">
                                <p flex>Logout</p>
                                <md-icon class="mdi mdi-24px" md-font-icon="mdi-logout" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ui-sref="profile">
                            <div layout="row">
                                <p flex>Account Settings</p>
                                <md-icon class="mdi mdi-24px" md-font-icon="mdi-settings" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="vm.applyTheme('default')">
                            <div layout="row">
                                <p flex>Default Theme Color</p>
                                <md-icon class="mdi mdi-24px" md-font-icon="mdi-color-fill" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.applyTheme('teal')">
                            <div layout="row">
                                <p flex>Demo Theme Color Teal</p>
                                <md-icon class="mdi mdi-24px" md-font-icon="mdi-color-fill" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.applyTheme('blue')">
                            <div layout="row">
                                <p flex>Demo Theme Color Blue</p>
                                <md-icon class="mdi mdi-24px" md-font-icon="mdi-color-fill" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.applyTheme('indigo')">
                            <div layout="row">
                                <p flex>Demo Theme Color Indigo</p>
                                <md-icon class="mdi mdi-24px" md-font-icon="mdi-color-fill" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.applyTheme('orange')">
                            <div layout="row">
                                <p flex>Demo Theme Color Orange</p>
                                <md-icon class="mdi mdi-24px" md-font-icon="mdi-color-fill" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.applyTheme('green')">
                            <div layout="row">
                                <p flex>Demo Theme Color Green</p>
                                <md-icon class="mdi mdi-24px" md-font-icon="mdi-color-fill" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-toolbar class="vala-header md-hue-1">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button md-mini">
                <md-icon class="mdi mdi-24px mdi-arrow-left" ng-click="vm.back()"></md-icon>
            </md-button>
            <span ng-repeat="item in vm.breadcrumbs">
                <md-button ui-sref="{{item.name}}(vm.stateParams)" ng-bind="item.title"></md-button>
            </span>
        </div>
    </md-toolbar>
    <md-content layout="column" flex style="background:#efefef" id="app-view" ui-view></md-content>
    <!--<md-button class="md-accent md-fab md-fab-bottom-right">
        <md-icon class="mdi mdi-24px" md-font-icon="mdi-message"></md-icon>
    </md-button>-->
</div>
<div id="splash-page" ng-show="vm.showSplash" style="position: fixed; left: 0; top: 0; height: 100%; width: 100%; background: #EEE;z-index: 9999">
    <div style="margin-top: 100px; vertical-align: middle; text-align: center;">
        <md-progress-circular class="md-hue-1" md-diameter="120px" style="margin: auto;" md-mode="indeterminate"></md-progress-circular>
        <img src="/images/logo.png" />
    </div>
</div>
<div id="loading-page" ng-show="vm.loading" class="vala-hide-animate">
    <div layout="row" layout-sm="column" layout-align="space-around" layout-padding>
        <md-whiteframe class="md-whiteframe-1dp vala-padding-none vala-white vala-radius">
            <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
        </md-whiteframe>
    </div>
</div>