﻿<div style="background:#efefef" id="app-view" ui-view layout="row" flex layout-fill layout-align="center center"></div>
<div id="splash-page" ng-show="vm.showSplash" style="position: fixed; left: 0; top: 0; height: 100%; width: 100%; background: #EEE;z-index: 9999">
    <div style="margin-top: 100px; vertical-align: middle; text-align: center;">
        <md-progress-circular class="md-hue-1" md-diameter="120px" style="margin: auto;" md-mode="indeterminate"></md-progress-circular>
        <img src="/images/logo.png" />
    </div>
</div>
<div id="loading-page" ng-show="vm.loading" class="vala-hide-animate">
    <div layout="row" layout-sm="column" layout-align="space-around" layout-padding>
        <md-whiteframe class="md-whiteframe-1dp vala-padding-none vala-white vala-radius">
            <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
        </md-whiteframe>
    </div>
</div>