﻿<md-dialog aria-label="Login">
    <form ng-submit="vm.login()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-icon class="md-avatar-icon mdi mdi-24px" md-font-icon="mdi-account-key"></md-icon>
                <span style="width:20px"></span>
                <h2>You have been logout due to inactivity!</h2>
                <span style="width:20px"></span>
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding>
            <input ng-model="vm.user.email" type="hidden">
            <md-content>
                <div>
                    <h2>Enter password to login again!</h2>
                    <md-input-container class="md-icon-float md-block">
                        <label class="md-muted">Email:</label>
                        <input disabled ng-model="vm.user.email" type="email">
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Password!</label>
                        <input ng-model="vm.user.password" type="password" required placeholder="Enter password">
                    </md-input-container>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-warn" ng-click="vm.logout()">
                <md-icon class="md-icon-button mdi mdi-24px" md-font-icon="mdi-account-switch" aria-label="Switch Account"></md-icon> Switch Account
            </md-button>
            <md-button class="md-raised md-primary" ng-click="vm.login()" style="margin-right:20px;">
                <md-icon class="md-icon-button mdi mdi-24px" md-font-icon="mdi-login" aria-label="Login"></md-icon> Login
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>