.btn-dashboard {
    display: block;
    min-height: 100px;

    &:hover {
        color: #FFF;

        .col-xs-3 {
            font-size: 110%;

            .fa {
                transition: all ease 100ms;
                transform: rotate(5deg);
            }
        }
    }
}
.dashboard-sponsor-logo {
    max-height: 60px;
    margin-bottom: 20px;
}

@media (max-width: 400px){
    .page-title {
        font-size: 1.2em;
    }
    .profile-image,.profile-info {
        width: 100%;
        text-align: center;
        float: none;
        margin: 0;
    }
    .mobile-text-center {
        text-align: center;
    }
}