#page-wrapper {
    min-height: 100%;
    position: relative;
}
.footer {
    position: absolute;
    bottom: 0;
}
#ngplus-overlay-background {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    vertical-align: middle;
    text-align: center;
}
.padding {
    padding: 10px;
}
#app-view {
    min-height: 400px;
}
.breadcrumbs {
    .bold {
        font-weight: bold;
    }
}
.md-search-input {
    color: #FFF;
    input[type=text]{
        color: #FFF;
        border-bottom-color: rgba(255,255,255,0.5);
        &::-webkit-input-placeholder {
           color: rgba(255,255,255,0.5);
        }

        &:-moz-placeholder { /* Firefox 18- */
           color: rgba(255,255,255,0.5);
        }

        &::-moz-placeholder {  /* Firefox 19+ */
           color: rgba(255,255,255,0.5);
        }

        &:-ms-input-placeholder {  
           color: rgba(255,255,255,0.5);
        }
    }
}

#__bs_notify__ {
    max-height: 20px;
    pointer-events: none;
}