h1.login-logo {
    margin: 0 0 20px 0;
}
.login-faces {
    > div {
        width: 25%;
        float: left;
        > img {
            max-width: 96%;
            margin: 2%;
            border-radius: 100%;
            overflow: hidden;
        }
    }
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}
.login-panel {
    max-width: 100%;
    width: 800px;
    margin: auto;
    margin-top: 60px;
    md-content {
        text-align: center;
        a {
            cursor: pointer;
        }
    }
}
