.btn-widget {
    display: block;
    min-height: 104px;

    &:hover {
        color: #FFF;

        .col-xs-3 {
            font-size: 110%;

            .fa {
                transition: all ease 100ms;
                transform: rotate(5deg);
            }
        }
    }
}

.file {
    .icon,
    .image {
        height: 200px;
    }
}

.ta-text.ta-editor {
    height: 300px;
    padding: 0;
    [ng-model]{
        padding: 20px;
        height: 300px;
    }
    * {
        outline: none;
    }
}
.ui-sortable-placeholder {
    border: none!important;
    background: none;
    min-height: 279px;
    &::after {
        content: '';
        display: block;
        width: 198px;
        height: 257px;
        background: #1ab394;
        border: 1px dashed #FFF;
        opacity: 0.5;
    }
}
.buttons-cart {
    .ui-sortable-placeholder {
        border: none!important;
        background: none;
        min-height: 124px;
        width: 100%;
        &::after {
            content: '';
            display: block;
            height: 104px;
            background: #1ab394;
            border: 1px dashed #FFF;
            margin: 10px auto;
            width: 100%;
            opacity: 0.5;
        }
    }
}
.ta-hidden-input {
    display: none;
}
.category-color-picker{
    .preview{
        width: 39px;
        height: 39px;
        margin: 0px;
        border-radius: 5px;
        position: absolute;
        border: 1px solid rgba(128, 128, 128, 0.26);
    }
    label{
        font-size: 20px !important;
        color: rgba(128, 128, 128, 0.59);
    }
    input{
        padding-left: 47px !important;
        height: 43px;
    }
}
.question-not-specific, .question-type{
    md-select-value{
        color: black !important;
    }
}