$gray: #eee;

md-sidenav {
    fill: #737373;
    width: 272px;
    min-width: 272px;
    max-width: 272px;

    md-content.md-default-theme {
        background-color: $gray;
    }

    md-card {
        background-color: #fff;

        h2:first-of-type {
            margin-top: 0;
        }
    }

    md-toolbar {
        cursor: pointer;
        .bg-gradient-up, 
        .bg-logo {
            opacity: 0.3;
            z-index: 0;
            position: absolute;
            left: 0;
            top:0;
            right: 0;
            bottom: 0;
            background: url(/images/patterns/bg-gradient-up.png) repeat-x bottom center;
        }
        .bg-logo {    
            background-position-x: left;
            opacity: 0.2;
            background-size: auto 100%;
            background-repeat: no-repeat;
            filter: blur(3px);
        }
        .md-toolbar-tools-bottom {
            z-index: 1;
            div {
                /*text-shadow: 1px 1px 3px #000;*/
                color: #FFF;
            }
        }
        .md-button.md-default-theme {
            border-radius: 99%; // round toolbar buttons
        }
    }

    h2 {
        font-weight: 400;
    }

    .md-toolbar-tools-bottom {
        font-size: small;

        & :last-child {
            opacity: 0.8;
        }
    }

    md-toolbar:not(.md-hue-1),
    .md-fab {
        fill: #fff;
    }



    md-icon {
        position: relative;
        top: 0; // adjust for svg viewbox
    }

    .user-avatar {
        border-radius: 99%;
    }
    .user-logo {
        margin-top: 32px;
        margin-left: 5px;
    }

    md-item-content {
        position: relative;
    }

    md-sidenav md-icon {
        top: 0;
    }
}
