<section>
    <md-subheader class="text-center md-warn">
        <div>Today {{vm.time}}</div>
    </md-subheader>
    <div layout="column" layout-gt-sm="row" layout-align="center top">
        <div flex="initial" style="width:460px">
            <div>
                <md-card ng-repeat="item in ['Sales Phase', 'Pre-Nominations Phase', 'Nominations Phase']">
                    <md-card-header>
                        <md-card-avatar>
                            <md-icon class="md-avatar-icon mdi mdi-24px mdi-tag"></md-icon>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{item}}</span>
                            <span class="md-subhead">12 Dec 2015</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="/images/sponsors/logo.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Dorset</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>
                            <strong>{{item}}</strong> sponsored by Exterion Media.
                        </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-button>Visit Region's Page</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>
</section>
<section>
    <md-subheader class="text-center">
        30 Dec 2015 12:53 AM
    </md-subheader>
    <div layout="column" layout-gt-sm="row" layout-align="center top" layout-fill>
        <div flex="initial" style="width:460px">
            <div lyout="column">
                <md-card ng-repeat="item in ['Sales Phase', 'Pre-Nominations Phase', 'Nominations Phase']">
                    <md-card-header>
                        <md-card-avatar>
                            <md-icon class="md-avatar-icon mdi mdi-24px mdi-tag"></md-icon>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{item}}</span>
                            <span class="md-subhead">12 Dec 2015</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="/images/sponsors/logo.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Dorset</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>
                            <strong>{{item}}</strong> sponsored by Exterion Media.
                        </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-button>Visit Region's Page</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>
</section>