<div ng-if="vm.role == 'superadmin'" ng-include="'app/dashboard/views/role-views/superadmin.html'"></div>
<div ng-if="vm.role == 'sponsor'" ng-include="'app/dashboard/views/role-views/sponsor.html'"></div>
<div ng-if="vm.role == 'user'" ng-include="'app/dashboard/views/role-views/user.html'"></div>
<div ng-if="vm.role == 'partner'" ng-include="'app/dashboard/views/role-views/partner.html'"></div>