<md-tabs md-dynamic-height md-border-bottom class="md-white">
    <md-tab label="Personal Information">
        <div layout-padding-gt-sm class="no-padding" ng-include="'app/settings/users/detail/partials/personal-information.partial.html'"></div>
    </md-tab>
    <md-tab label="Organization Information">
        <div layout-padding-gt-sm class="no-padding" ng-include="'app/settings/users/detail/partials/organization.partial.html'"></div>
    </md-tab>
    <md-tab label="Account Settings">
        <div layout-padding-gt-sm class="no-padding" ng-include="'app/settings/users/detail/partials/settings.partial.html'"></div>
    </md-tab>
</md-tabs>
