<div class="wrapper wrapper-content">
<div class="row">
    <div class="col-xs-3">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="file-manager">

                    <h5>Contents</h5>
                    <ul class="folder-list" style="padding: 0">
                        <li><a href="" ng-click="vm.showTab('log-logo')"><i class="fa fa-folder"></i> Login Logo</a></li>
                        <li><a href="" ng-click="vm.showTab('log-faces')"><i class="fa fa-folder"></i> Login Faces</a></li>
                        <li><a href="" ng-click="vm.showTab('reg-title')"><i class="fa fa-folder"></i> Registration Title</a></li>
                        <li><a href="" ng-click="vm.showTab('reg-text')"><i class="fa fa-folder"></i> Registration Text</a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <div ng-if="vm.tab == 'log-faces'">
                        <div class="hr-line-dashed"></div>
                        <h5>FILES</h5>
                        <div class="hr-line-dashed"></div>
                        <button class="btn btn-primary btn-block">Upload Files</button>
                        <div class="hr-line-dashed"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-9">
        <div ng-if="!vm.tab">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <h2>
                                Login Page &amp;  Registration Page CMS
                            </h2>
                            <div class="alert alert-info">
                                <span class="btn-primary btn">
                                    <i class="fa fa-info"></i>
                                </span>
                                Select Content to Edit from the right panel
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="vm.tab == 'log-logo'">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Login Logo</h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <div class="m-b-sm text-center">
                            <img alt="image" src="images/logo.png">
                        </div>
                        <div class="text-center">
                            <a class="btn btn-sm btn-white"><i class="fa fa-picture-o"></i> Choose Photo </a>
                            <a class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Update</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div ng-show="vm.tab == 'log-faces'" ui-sortable="{ 'ui-floating': true }" ng-model="vm.faces">
            <div class="file-box" ng-repeat="index in vm.faces">
                <div class="file">
                    <a href="">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" ng-src="/images/faces/{{index}}.jpg">
                        </div>
                        <div class="file-name">
                            <a class="fa fa-trash pull-right text-secondary" ng-click="vm.removeFace(index)"></a>
                            {{index}}.jpg
                            <br />
                            <small>Added: Jan 6, 2014</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div ng-if="vm.tab == 'reg-title'">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Registration Title Text</h5>

                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">

                            <form role="form">
                                <div class="form-group">
                                    <label>Title Text</label> <input type="text"
                                                                placeholder="Enter text"
                                                                class="form-control">
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">
                                        <strong>
                                            Udpate Registration Title
                                        </strong>
                                    </button>
                                    <div class="clearfix"></div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="vm.tab == 'reg-text'">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Registration Content Text Editor</h5>

                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">

                            <div text-angular ng-model="vm.regText"></div>

                        </div>
                        <div>
                            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">
                                <strong>
                                    Udpate Registration Text
                                </strong>
                            </button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>