<md-tabs md-dynamic-height md-border-bottom class="md-white">
    <md-tab label="Regional Areas">
        <md-content class="md-transparent md-padding">
            <div layout="column" class="no-padding">
                <div>
                    <md-card>
                        <md-toolbar class="md-table-toolbar md-menu-toolbar" ng-hide="vm.selectedRegions.length">
                            <div class="md-toolbar-tools">
                                <span>Regions</span>
                                <div flex></div>
                                <md-menu hide-gt-sm md-position-mode="target-right target" layout-align="right">
                                    <md-button aria-label="Choose Chart Type to Display" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                        <md-icon class="md-avatar-icon" md-svg-src="more_vert.svg"></md-icon>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item>
                                            <md-button ui-sref="settings.regions.detail({id:0})">Add New Regional Area</md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <md-button hide show-gt-sm ui-sref="settings.regions.detail({id:0})" class="md-raised">
                                    <span style="padding: 0 10px;">
                                        Add Regional Area
                                        <md-icon class="mdi mdi-24px mdi-plus"></md-icon>
                                        <md-tooltip md-direction="left">Add Region</md-tooltip>
                                    </span>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selectedRegions.length">
                            <div class="md-toolbar-tools">
                                <span>{{vm.selectedRegions.length}} {{vm.selectedRegions.length > 1 ? 'items' : 'item'}} selected</span>
                                <div flex></div>
                                <md-button ng-click="vm.bulkDeleteRegions($event)" class="md-raised">
                                    <span style="padding: 0 10px;">
                                        Delete Selected
                                        <md-icon class="mdi mdi-24px mdi-delete"></md-icon>
                                        <md-tooltip md-direction="left">Delete Selected Regions</md-tooltip>
                                    </span>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-card-content class="no-adding-top">
                            <md-data-table-container>
                                <table md-table md-row-select="true" ng-model="vm.selectedRegions">
                                    <thead md-head md-order="vm.query.order">
                                        <tr md-row>
                                            <th md-column md-order-by="name"><span>Regional Area Name</span></th>
                                            <th md-column hide show-gt-md md-order-by="counties"><span>Counties</span></th>
                                            <th md-column hide show-gt-md md-order-by="cities"><span>Cities</span></th>
                                            <th md-column hide show-gt-sm style="width: 108px;"><span>Actions</span></th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row md-select="item" ng-repeat="item in vm.regionAreas | filter: vm.filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit" ng-click="vm.mobileClick(item)">
                                            <td md-cell>
                                                {{item.name}}
                                            </td>
                                            <td md-cell hide show-gt-md>
                                                <md-button ui-sref="settings.regions.detail({id: item.id})" class="md-link md-primary">
                                                    {{item.countiesCount || 0}}
                                                    <md-tooltip>View Counties</md-tooltip>
                                                </md-button>
                                            </td>
                                            <td md-cell hide show-gt-md>
                                                <md-button ui-sref="settings.regions.cities({id: item.id, countyid: 0})" class="md-link md-primary">
                                                    {{item.citiesCount || 0}}
                                                    <md-tooltip>View Cities</md-tooltip>
                                                </md-button>
                                            </td>
                                            <td md-cell hide show-gt-sm>
                                                <div layout>
                                                    <md-button ui-sref="settings.regions.detail({id: item.id})" class="md-icon-button md-primary" aria-label="Edit Region">
                                                        <md-tooltip>
                                                            Edit Region
                                                        </md-tooltip>
                                                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-pencil"></md-icon>
                                                    </md-button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-data-table-container>
                            <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.regionAreas.length}}"></md-table-pagination>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </md-content>
    </md-tab>
</md-tabs>