<div layout="column" layout-gt-md="row" class="no-padding">
    <div flex>
        <md-card>
            <md-toolbar class="md-table-toolbar md-menu-toolbar" ng-hide="vm.selectedCounties.length">
                <div class="md-toolbar-tools">
                    <span>Counties</span>
                    <div flex></div>
                    <md-button ng-click="vm.editCounty({name:'', id: 0, regionid: vm.regionAreas.id},$event)" class="md-raised">
                        <span style="padding: 0 10px;">
                            Add County
                        </span>
                    </md-button>
                </div>
            </md-toolbar>
            <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selectedCounties.length">
                <div class="md-toolbar-tools">
                    <span>{{vm.selectedCounties.length}} {{vm.selectedCounties.length > 1 ? 'items' : 'item'}} selected</span>
                    <div flex></div>
                    <md-button ng-click="vm.bulkDeleteCounties($event)" class="md-raised">
                        <span style="padding: 0 10px;">
                            Delete selected
                        </span>
                    </md-button>
                </div>
            </md-toolbar>
            <md-data-table-container>
                <table md-table md-row-select="true" ng-model="vm.selectedCounties">
                    <thead md-head md-order="vm.query.counties.order">
                        <tr md-row>
                            <th md-column md-order-by="name">
                                <span>County Name</span>
                            </th>
                            <th hide show-gt-sm md-column md-order-by="cities">
                                <span>Cities</span>
                            </th>
                            <th md-column>
                                <span>&nbsp;</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="item" ng-repeat="item in vm.counties | filter: vm.filter.search | orderBy: vm.query.counties.order | limitTo: vm.query.counties.limit : (vm.query.counties.page -1) * vm.query.counties.limit">
                            <td md-cell ng-click="vm.editCounty(item, $event)">
                                {{item.name}}
                            </td>
                            <td hide show-gt-sm md-cell>
                                <md-button ui-sref="settings.regions.cities({id: vm.regionArea.id, countyid: item.id})" class="md-link md-primary">{{item.cities.length || 0}}</md-button>
                            </td>
                            <td md-cell style="text-align:right">
                                <md-menu md-position-mode="target-right target">
                                    <md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                        <md-icon class="mdi mdi-24px" md-font-icon="mdi-dots-horizontal"></md-icon>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item>
                                            <md-button ng-click="vm.editCounty(item, $event)">
                                                Rename
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ui-sref="settings.regions.cities({id: vm.regionArea.id, countyid: item.id})">
                                                Cities
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-data-table-container>
            <md-table-pagination md-limit="vm.query.counties.limit" md-page="vm.query.counties.page" md-total="{{vm.counties.length}}"></md-table-pagination>

        </md-card>
    </div>
</div>