<div ng-cloak layout-gt-md="row" layout-gt-sm="column" layout-align="stretch center">
    <md-card flex="100">
        <md-card-content class="no-padding-top">

            <div layout="column" layout-align="center center">
                <h4>If you've been nominated the first step is to click the (Apply for an Award) button below.</h4>
            </div>
            <div layout="row" layout-md="column" class="inset" layout-align="center center" layout-wrap>
                <md-button flex="initial" flex-md="100" class="md-raised md-primary">
                    <md-icon md-svg-src="face.svg"></md-icon>
                    <span>Nominate Someone</span>
                </md-button>
                <md-button flex="initial" flex-md="100" class="md-raised md-accent">
                    <md-icon md-svg-src="send.svg"></md-icon>
                    <span>Sent Nominations</span>
                </md-button>
                <md-button flex="initial" flex-md="100" class="md-raised md-primary md-hue-2">
                    <md-icon md-svg-src="mode_edit.svg"></md-icon>
                    <span>Edit Organization</span>
                </md-button>
                <md-button flex="initial" flex-md="100" class="md-raised md-dark">
                    <md-icon md-svg-src="person.svg"></md-icon>
                    <span>Edit my Profile</span>
                </md-button>
                <md-button flex="initial" flex-md="100" class="md-raised md-warn md-hue-2">
                    <md-icon md-svg-src="insert_chart.svg"></md-icon>
                    <span>Judging</span>
                </md-button>
                <md-button flex="initial" flex-md="100" class="md-raised md-warn">
                    <md-icon md-svg-src="inbox.svg"></md-icon>
                    <span>Recieved Nominations</span>
                </md-button>
            </div>

        </md-card-content>
    </md-card>
</div>

<div ng-cloak layout-gt-md="row" layout-gt-sm="column" layout-align="stretch center">
    <div flex-sm="100" flex-gt-sm="100" flex-md="40" flex-gt-md="30" flex-order-gt-md="2" flex-order="1">
        <md-card style="min-height: 500px">
            <md-card-header>
                <md-card-avatar>
                    <img class="md-user-avatar" src="images/faces/0.jpg" />
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Hi David!</span>
                    <span class="md-subhead">You have 42 messages and 6 notifications.</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content no-padding-top>
                <img ng-src="/images/sponsors/logo.jpg" alt="Sponsor Name" class="sponsor-logo">
                <md-list>
                    <md-list-item ui-sref="profile/edit">
                        <md-icon md-svg-src="person.svg"></md-icon>
                        <p class="md-body-1">Edit Profile</p>
                    </md-list-item>
                    <md-list-item ng-click="vm.mockClick()">
                        <md-icon md-svg-src="assignment_ind.svg"></md-icon>
                        <p class="md-body-1">Nominate Someone</p>
                    </md-list-item>
                    <md-list-item ng-click="vm.mockClick()">
                        <md-icon md-svg-src="account_box.svg"></md-icon>
                        <p class="md-body-1">Apply for an Award</p>
                    </md-list-item>
                    <md-list-item ng-click="vm.mockClick()">
                        <md-icon md-svg-src="send.svg"></md-icon>
                        <p class="md-body-1">My Sent Nomination</p>
                    </md-list-item>
                    <md-list-item ng-click="vm.mockClick()">
                        <md-icon md-svg-src="assignment.svg"></md-icon>
                        <p class="md-body-1">My Applications</p>
                    </md-list-item>
                    <md-list-item ng-click="vm.mockClick()">
                        <md-icon md-svg-src="assignment_late.svg"></md-icon>
                        <p class="md-body-1">My Recieved Nominations</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div flex-sm="100" flex-gt-sm="100" flex-md="60" flex-gt-md="70" flex-order-gt-md="1" flex-order="2">
        <md-card style="min-height: 500px">
            <md-card-header>
                <md-card-header-text>
                    <div layout="row">
                        <div flex>
                            <div class="md-title">
                                {{vm.selectedChartType.name || 'Nominations and Nominees'}}
                            </div>
                            <div class="md-subhead">Regional Statistics</div>
                        </div>
                        <div flex="1">
                            <md-menu md-position-mode="target-right target" layout-align="right">
                                <md-button aria-label="Choose Chart Type to Display" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="md-avatar-icon" md-svg-src="more_vert.svg"></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item ng-repeat="chartType in vm.chartTypes">
                                        <md-button ng-click="vm.setChartType(chartType)" ng-bind="chartType.name"></md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content style="padding-top: 0;">
                <div layout="row" layout-gt-md="row" layout-gt-sm="column">
                    <div flex="60" flex-gt-md="60" flex-gt-sm="100">
                        <div google-chart chart="vm.columnChartObject" style="height:400px; width:100%; max-width: 100%; overflow: hidden;">
                            <md-progress-circular md-mode="indeterminate" ng-if="!vm.columnChartObject.data" style="margin: auto; margin-top: 50px; vertical-align: middle;"></md-progress-circular>
                        </div>
                    </div>
                    <div flex="40" flex-gt-md="40" flex-gt-sm="100">
                        <div layout="column" layout-gt-md="column" layout-gt-sm="row">
                            <div>
                                <div google-chart chart="vm.pieChartObject1" style="height:200px; width:100%;">
                                    <md-progress-circular md-mode="indeterminate" ng-if="!vm.columnChartObject.data" style="margin: auto; margin-top: 50px; vertical-align: middle;"></md-progress-circular>
                                </div>
                            </div>
                            <div>
                                <div google-chart chart="vm.pieChartObject2" style="height:200px; width:100%;">
                                    <md-progress-circular md-mode="indeterminate" ng-if="!vm.columnChartObject.data" style="margin: auto; margin-top: 50px; vertical-align: middle;"></md-progress-circular>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>

<div ng-cloak layout-gt-md="row" layout-gt-sm="column" layout-fill layout-align="stretch center">
    <div flex-sm="100" flex-gt-sm="100" flex-md="33" flex-gt-md="33">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Registered Users</span>
                    <span class="md-subhead">Your Users</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="no-padding-top">
                <md-list>
                    <md-list-item>
                        <img ng-repeat="user in [0]" alt="User {{ user }}" ng-src="/images/faces/{{ user }}.jpg" class="md-avatar" />
                        <p>Lead Judge</p>
                        <md-button class="md-icon-button md-accent md-mini" ng-click="vm.mockClick()"><md-icon md-svg-src="more_horiz.svg"></md-icon></md-button>
                    </md-list-item>
                    <md-list-item>
                        <img ng-repeat="user in [3]" alt="User {{ user }}" ng-src="/images/faces/{{ user }}.jpg" class="md-avatar" />
                        <p>Judges</p>
                        <md-button class="md-icon-button md-accent md-mini" ng-click="vm.mockClick()"><md-icon md-svg-src="more_horiz.svg"></md-icon></md-button>
                    </md-list-item>
                    <md-list-item>
                        <img ng-repeat="user in [5]" alt="User {{ user }}" ng-src="/images/faces/{{ user }}.jpg" class="md-avatar" />
                        <p>Registered Users</p>
                        <md-button class="md-icon-button md-accent md-mini" ng-click="vm.mockClick()"><md-icon md-svg-src="more_horiz.svg"></md-icon></md-button>
                    </md-list-item>
                    <md-list-item>
                        <img ng-repeat="user in [4]" alt="User {{ user }}" ng-src="/images/faces/{{ user }}.jpg" class="md-avatar" />
                        <p>Nominees</p>
                        <md-button class="md-icon-button md-accent md-mini" ng-click="vm.mockClick()"><md-icon md-svg-src="more_horiz.svg"></md-icon></md-button>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <div layout="row">
                        <div flex>
                            <div class="md-title">
                                News Feeds
                            </div>
                            <div class="md-subhead">Recent News Feeds from Vala</div>
                        </div>
                        <div flex="1">
                            <md-menu md-position-mode="target-right target" layout-align="right">
                                <md-button aria-label="Choose Chart Type to Display" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="md-avatar-icon" md-svg-src="more_vert.svg"></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="vm.refreshNews()">
                                            <div layout="row">
                                                <p flex>Refresh news</p>
                                                <md-icon md-svg-src="refresh.svg" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.moreNews()">

                                            <div layout="row">
                                                <p flex>Show more news</p>
                                                <md-icon md-svg-src="more_horiz.svg" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="no-padding-top">
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="item in [5,6,7,8]">
                        <img ng-src="/images/faces/{{item}}.jpg" class="md-avatar" alt="{{todos[0].who}}" />
                        <div class="md-list-item-text" layout="column">
                            <h3>@User{{ item }}</h3>
                            <h4>Region {{ item }}</h4>
                            <p>Upcomming event orem lorem lorem lorem lorem, lorem lo lorem. Impsum lorem is dolor set amet. {{ item }}</p>
                            <br />
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div flex-sm="100" flex-gt-sm="100" flex-md="33" flex-gt-md="33">
        <md-card flex="100">
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Sponsored Categories</span>
                    <span class="md-subhead">Your sponsored categories</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="no-padding-top">
                <md-list>
                    <md-list-item ng-repeat="item in vm.sponsoredCategories" ng-click="vm.viewSponsoredCategory(item)">
                        <md-icon md-svg-src="{{item.icon}}.svg" class="md-avatar-icon"></md-icon>
                        <p ng-bind="item.name"></p>
                        <md-icon md-svg-src="keyboard_arrow_right.svg"></md-icon>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <div layout="row">
                        <div flex>
                            <div class="md-title">
                                Available Ceremony Tickets
                            </div>
                            <div class="md-subhead">Your Event Tickets</div>
                        </div>
                        <div flex="1">
                            <md-menu md-position-mode="target-right target" layout-align="right">
                                <md-button aria-label="Choose Chart Type to Display" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="md-avatar-icon" md-svg-src="more_vert.svg"></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="vm.refreshNews()">
                                            <div layout="row">
                                                <p flex>Refresh</p>
                                                <md-icon md-svg-src="refresh.svg" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.moreNews()">
                                            <div layout="row">
                                                <p flex>Show more news</p>
                                                <md-icon md-svg-src="more_horiz.svg" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="no-padding-top">
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="item in [1,2,3,4,5,6]" ng-click="vm.viewEventDetails()">
                        <md-icon md-svg-src="receipt.svg"></md-icon>
                        <div class="md-list-item-text" ng-if="item % 2 == 0">
                            <h3>Awarding Ceremony for Employee of the Year</h3>
                            <p>December {{ item }}, 2016</p>
                        </div>
                        <div class="md-list-item-text" ng-if="(item % 2 != 0) && (item % 3 != 0)">
                            <h3>Voting for Director of the Month</h3>
                            <p>December {{ item }}, 2016</p>
                        </div>
                        <div class="md-list-item-text" ng-if="(item % 2 != 0) && (item % 3 == 0)">
                            <h3>Voting for Employer of the Month</h3>
                            <p>December {{ item * 2 }}, 2016</p>
                        </div>
                        <md-icon md-svg-src="keyboard_arrow_right.svg"></md-icon>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div flex-sm="100" flex-gt-sm="100" flex-md="33" flex-gt-md="33" layout-align="stretch center">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Task List</span>
                    <span class="md-subhead">Your unfinished tasks</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="no-padding-top">
                <md-list>
                    <md-list-item ng-repeat="item in [1,2,3,4]" ng-click="vm.viewTask(item)">
                        <p>Vala task {{item}}</p>
                        <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <div layout="row">
                        <div flex>
                            <div class="md-title">
                                News and Events
                            </div>
                            <div class="md-subhead">News and Events</div>
                        </div>
                        <div flex="1">
                            <md-menu md-position-mode="target-right target" layout-align="right">
                                <md-button aria-label="Choose Chart Type to Display" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="md-avatar-icon" md-svg-src="more_vert.svg"></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="vm.refreshNews()">
                                            <div layout="row">
                                                <p flex>Refresh</p>
                                                <md-icon md-svg-src="refresh.svg" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.moreNews()">

                                            <div layout="row">
                                                <p flex>Show more news</p>
                                                <md-icon md-svg-src="more_horiz.svg" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="no-padding-top">
                <md-list>
                    <md-list-item class="md-2-line">
                        <img ng-src="/images/sponsors/logo.png" class="md-avatar" />
                        <div class="md-list-item-text" layout="column">
                            <h3>Employee of the Month Awarding</h3>
                            <p>We will have the <strong>Awarding Ceremony</strong> at AT&T arena on Dec 25, 205 at 8:00pm. See you there. Buy tickets now!</p>
                            <br />
                        </div>
                        <md-button class="md-raised md-mini md-warn">
                            <md-icon md-svg-src="shopping_cart.svg"></md-icon>
                            BUY TICKET
                        </md-button>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <img ng-src="/images/sponsors/logo.jpg" class="md-avatar" />
                        <div class="md-list-item-text" layout="column">
                            <h3>Voting Starts Today!</h3>
                            <p>Votimg session on <strong>Devon</strong> started on Dec 1, 2015. Vote your Employee of the month now!</p>
                            <br />
                        </div>
                        <md-button class="md-raised md-mini md-primary">
                            <md-icon md-svg-src="check_circle.svg"></md-icon>
                            VOTE NOW
                        </md-button>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <img ng-src="/images/sponsors/logo.jpg" class="md-avatar" />
                        <div class="md-list-item-text" layout="column">
                            <h3>Good News!</h3>
                            <p>You can now invite your friends on facebook! Visit your profile to invite friends.</p>
                            <br />
                        </div>
                        <md-button class="md-raised md-mini md-primary">
                            <md-icon md-svg-src="person.svg"></md-icon>
                            VIEW PROFILE
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>

<div ng-cloak layout-gt-md="row" layout-gt-sm="column" layout-align="stretch center">
    <div flex-sm="100" flex-gt-sm="100" flex-md="33" flex-gt-md="33">

    </div>
    <div flex-sm="100" flex-gt-sm="100" flex-md="33" flex-gt-md="33">

    </div>
    <div flex-sm="100" flex-gt-sm="100" flex-md="33" flex-gt-md="33">

    </div>
</div>