<div ng-cloak layout-gt-md="row" layout-gt-sm="column" layout-align="stretch center">
    <div flex-sm="100" flex-gt-sm="100" flex-md="40" flex-gt-md="30" flex-order-gt-md="2" flex-order="1">
        <md-card style="min-height: 500px">
            <md-card-header>
                <md-card-avatar>
                    <img class="md-user-avatar" src="images/faces/0.jpg" />
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Hi David!</span>
                    <span class="md-subhead">You have 42 messages and 6 notifications.</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <md-list>
                    <md-list-item ui-sref="profile/edit">
                        <md-icon md-svg-src="person.svg"></md-icon>
                        <p class="md-body-1">Edit Profile</p>
                    </md-list-item>
                    <md-list-item ng-click="vm.mockClick()">
                        <md-icon md-svg-src="assignment_ind.svg"></md-icon>
                        <p class="md-body-1">Nominate Someone</p>
                    </md-list-item>
                    <md-list-item ng-click="vm.mockClick()">
                        <md-icon md-svg-src="account_box.svg"></md-icon>
                        <p class="md-body-1">Apply for an Award</p>
                    </md-list-item>
                    <md-list-item ng-click="vm.mockClick()">
                        <md-icon md-svg-src="send.svg"></md-icon>
                        <p class="md-body-1">My Sent Nomination</p>
                    </md-list-item>
                    <md-list-item ng-click="vm.mockClick()">
                        <md-icon md-svg-src="assignment.svg"></md-icon>
                        <p class="md-body-1">My Applications</p>
                    </md-list-item>
                    <md-list-item ng-click="vm.mockClick()">
                        <md-icon md-svg-src="assignment_late.svg"></md-icon>
                        <p class="md-body-1">My Recieved Nominations</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div flex-sm="100" flex-gt-sm="100" flex-md="60" flex-gt-md="70" flex-order-gt-md="1" flex-order="2">
        <md-card style="min-height: 500px">
            <md-card-header>
                <md-card-header-text>
                    <div layout="row">
                        <div flex>
                            <div class="md-title">
                                {{vm.selectedChartType.name || 'Nominations and Nominees'}}
                            </div>
                            <div class="md-subhead">Regional Statistics</div>
                        </div>
                        <div flex="1">
                            <md-menu md-position-mode="target-right target" layout-align="right">
                                <md-button aria-label="Choose Chart Type to Display" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="md-avatar-icon" md-svg-src="more_vert.svg"></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item ng-repeat="chartType in vm.chartTypes">
                                        <md-button ng-click="vm.setChartType(chartType)" ng-bind="chartType.name"></md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content style="padding-top: 0;">
                <div layout="row" layout-sm="column" layout-wrap>
                    <div flex>
                        <div google-chart chart="vm.columnChartObject" style="height:405px">
                            <md-progress-circular md-mode="indeterminate" ng-if="!vm.columnChartObject.data" style="margin: auto; margin-top: 50px; vertical-align: middle;"></md-progress-circular>
                        </div>
                    </div>
                    <div flex="40" flex-sm="100" ng-if="vm.selectedChartType.type === 'ColumnChart'">
                        <div layout="column" lyout-sm="row">
                            <div>
                                <div google-chart chart="vm.pieChartObject1" ng-if="vm.pieChartObject1.data">
                                    <md-progress-circular md-mode="indeterminate" ng-if="!vm.columnChartObject.data" style="margin: auto; margin-top: 50px; vertical-align: middle;"></md-progress-circular>
                                </div>
                            </div>
                            <div>
                                <div google-chart chart="vm.pieChartObject2" ng-if="vm.pieChartObject2.data">
                                    <md-progress-circular md-mode="indeterminate" ng-if="!vm.columnChartObject.data" style="margin: auto; margin-top: 50px; vertical-align: middle;"></md-progress-circular>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>

<div ng-cloak layout-gt-md="row" layout-gt-sm="column" layout-align="stretch center">
    <md-card flex="100">
        <md-card-content class="no-padding-top">

            <div layout="column" layout-align="center center">
                <h4>If you've been nominated the first step is to click the (Apply for an Award) button below.</h4>
            </div>
            <div layout="row" layout-md="column" class="inset" layout-align="center center" layout-wrap>
                <md-button flex="initial" flex-md="100" class="md-raised md-primary">
                    <md-icon md-svg-src="face.svg"></md-icon>
                    <span>Nominate Someone</span>
                </md-button>
                <md-button flex="initial" flex-md="100" class="md-raised md-primary md-hue-2">
                    <md-icon md-svg-src="assignment_ind.svg"></md-icon>
                    <span>Apply for an Award</span>
                </md-button>
                <md-button flex="initial" flex-md="100" class="md-raised md-accent">
                    <md-icon md-svg-src="send.svg"></md-icon>
                    <span>Sent Nominations</span>
                </md-button>
                <md-button flex="initial" flex-md="100" class="md-raised md-dark">
                    <md-icon md-svg-src="person.svg"></md-icon>
                    <span>Edit my Profile</span>
                </md-button>
                <md-button flex="initial" flex-md="100" class="md-raised md-warn md-hue-2">
                    <md-icon md-svg-src="assignment.svg"></md-icon>
                    <span>My Applications</span>
                </md-button>
                <md-button flex="initial" flex-md="100" class="md-raised md-warn">
                    <md-icon md-svg-src="inbox.svg"></md-icon>
                    <span>Recieved Nominations</span>
                </md-button>
            </div>

        </md-card-content>
    </md-card>
</div>

<div ng-cloak layout-gt-md="row" layout-gt-sm="column" layout-align="stretch center">
    <div flex-sm="100" flex-gt-sm="100" flex-md="60" flex-gt-md="70">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <div layout="row">
                        <div flex>
                            <div class="md-title">
                                Ticket Sales
                            </div>
                            <div class="md-subhead">Ticket Sales Statistics</div>
                        </div>
                        <div flex="1">
                            <md-menu md-position-mode="target-right target" layout-align="right">
                                <md-button aria-label="Choose Chart Type to Display" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="md-avatar-icon" md-svg-src="more_vert.svg"></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="vm.demoClick()">View Statistics per Region</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.demoClick()">View Statistics per Category</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content style="padding-top: 0;">
                <div google-chart chart="vm.lineChartObject" style="height:400px; width:100%; max-width: 100%; overflow: hidden;">
                    <md-progress-circular md-mode="indeterminate" ng-if="!vm.columnChartObject.data" style="margin: auto; margin-top: 50px; vertical-align: middle;"></md-progress-circular>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div flex-sm="100" flex-gt-sm="100" flex-md="40" flex-gt-md="30">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <div layout="row">
                        <div flex>
                            <div class="md-title">
                                Sponsors
                            </div>
                            <div class="md-subhead">Sponsors Statistics</div>
                        </div>
                        <div flex="1">
                            <md-menu md-position-mode="target-right target" layout-align="right">
                                <md-button aria-label="Choose Chart Type to Display" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="md-avatar-icon" md-svg-src="more_vert.svg"></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="vm.demoClick()">View Sponsors per Region</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.demoClick()">View Sponsors per Category</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content style="padding-top: 0;">
                <div google-chart chart="vm.pieSponsorChartObject" style="height:400px; width:100%; max-width: 100%; overflow: hidden;">
                    <md-progress-circular md-mode="indeterminate" ng-if="!vm.columnChartObject.data" style="margin: auto; margin-top: 50px; vertical-align: middle;"></md-progress-circular>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>


<div ng-cloak layout-gt-md="row" layout-gt-sm="column" layout-align="stretch center">
    <div flex-sm="100" flex-gt-sm="100" flex-md="60" flex-gt-md="70">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <div layout="row">
                        <div flex>
                            <div class="md-title">
                                News and Events
                            </div>
                            <div class="md-subhead">News and Events</div>
                        </div>
                        <div flex="1">
                            <md-menu md-position-mode="target-right target" layout-align="right">
                                <md-button aria-label="Choose Chart Type to Display" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="md-avatar-icon" icon="more_vert.svg"></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="vm.refreshNews()">
                                            <div layout="row">
                                                <p flex>Refresh</p>
                                                <md-icon md-svg-src="refresh" md-menu-align-target style="margin: auto 3px auto 0"></md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.moreNews()">

                                            <div layout="row">
                                                <p flex>Show more news</p>
                                                <md-icon md-svg-src="more_horiz" md-menu-align-target style="margin: auto 3px auto 0"></md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="no-padding-top">
                <md-list>
                    <md-list-item class="md-2-line">
                        <img ng-src="/images/sponsors/logo.png" class="md-avatar" />
                        <div class="md-list-item-text" layout="column">
                            <h3>Upcomming Judging Schedule</h3>
                            <p>We will have the <strong>Judging</strong> schedule on Dec 25, 205 at 8:00pm for Devon. See you there. Visit Judging Page!</p>
                            <br />
                        </div>
                        <md-button class="md-raised md-mini md-warn">
                            <md-icon class="mdi mdi-24px" md-font-icon="mdi-sort-numeric"></md-icon>
                            JUDGING PAGE
                        </md-button>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <img ng-src="/images/sponsors/logo.png" class="md-avatar" />
                        <div class="md-list-item-text" layout="column">
                            <h3>Employee of the Month Awarding</h3>
                            <p>We will have the <strong>Awarding Ceremony</strong> at AT&T arena on Dec 25, 205 at 8:00pm. See you there. Buy tickets now!</p>
                            <br />
                        </div>
                        <md-button class="md-raised md-mini md-warn">
                            <md-icon md-svg-src="shopping_cart.svg"></md-icon>
                            BUY TICKET
                        </md-button>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <img ng-src="/images/sponsors/logo.jpg" class="md-avatar" />
                        <div class="md-list-item-text" layout="column">
                            <h3>Voting Starts Today!</h3>
                            <p>Votimg session on <strong>Devon</strong> started on Dec 1, 2015. Vote your Employee of the month now!</p>
                            <br />
                        </div>
                        <md-button class="md-raised md-mini md-primary">
                            <md-icon md-svg-src="check_circle.svg"></md-icon>
                            VOTE NOW
                        </md-button>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <img ng-src="/images/sponsors/logo.jpg" class="md-avatar" />
                        <div class="md-list-item-text" layout="column">
                            <h3>Good News!</h3>
                            <p>You can now invite your friends on facebook! Visit your profile to invite friends.</p>
                            <br />
                        </div>
                        <md-button class="md-raised md-mini md-primary">
                            <md-icon md-svg-src="person.svg"></md-icon>
                            VIEW PROFILE
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div flex-sm="100" flex-gt-sm="100" flex-md="40" flex-gt-md="30">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <div layout="row">
                        <div flex>
                            <div class="md-title">
                                News Feeds
                            </div>
                            <div class="md-subhead">Recent News Feeds from Vala</div>
                        </div>
                        <div flex="1">
                            <md-menu md-position-mode="target-right target" layout-align="right">
                                <md-button aria-label="Choose Chart Type to Display" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="md-avatar-icon" icon="more_vert.svg"></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="vm.refreshNews()">
                                            <div layout="row">
                                                <p flex>Refresh news</p>
                                                <md-icon md-svg-src="refresh" md-menu-align-target style="margin: auto 3px auto 0"></md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.moreNews()">

                                            <div layout="row">
                                                <p flex>Show more news</p>
                                                <md-icon md-svg-src="more_horiz" md-menu-align-target style="margin: auto 3px auto 0"></md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="no-padding-top">
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="item in [5,6,7,8]">
                        <img ng-src="/images/faces/{{item}}.jpg" class="md-avatar" alt="{{todos[0].who}}" />
                        <div class="md-list-item-text" layout="column">
                            <h3>@User{{ item }}</h3>
                            <h4>Region {{ item }}</h4>
                            <p>Upcomming event orem lorem lorem lorem lorem, lorem lo lorem. Impsum lorem is dolor set amet. {{ item }}</p>
                            <br />
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>